{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Accounts",
    "description" : "![JOF1](https://www.jopacc.com/sites/default/files/2023-12/jpc-internal-jof-banner.png)\n\n\n## This is the initial draft of the Jordan Open Finance specification\n\n##### The services in this Open API specification are Direct-Call Services (DCS). These services can be accessed by direct calls to the banks or by using an aggregator central hub such as JoPACC. However, the URLs and routes for these services are designed for direct-calls only.\n\nFor the Open API specification of the aggregated services, refer to the Aggregator Services specification.\n\n![services](https://www.jopacc.com/sites/default/files/2023-12/jpc-internal-jof-services.jpg)\n\n#### Services in Jordan Open Finance Specification (JOF) are divided into 4 categories based on their content and nature of consent:\n### Account Information Services (AIS)\nThis category covers services that are related to customers' financial accounts. This category has two sub-categories:\n  1. **MY AIS**:\n    Services that allow an account holder to view their own information. For a TPP to retrieve this information, they require the consent of the user.\n  2. **Others AIS**:\n    Services that enable a TPP to view the account information of a user who is not their customer and who hasn't initiated the request. These services require the user whose information is being retrieved to have consented, such as the IBAN Confirmation service.\n### Payment Initiation Services (PIS)\nThis category involves services that allow TPPs to initiate payments on behalf of the user. The user's consent is required by the TPP.\n### Extended Services (ES)\nThis category involves services that require the consent of an account-holder but does not relate directly to their account-information. The services under this category extend the functionalities of their account, such as the OTP service.\n### Facilities and Products Services (FPS)\nThis category includes services that specifically provide data about the Financial Institution's facilities and products. It does not contain any information about the customers or require their consent.\n\n#### The Central Bank of Jordan has classified Open Finance  consents into Account Information consent and Payment Initiation consent. The above categories are based on the CBJ's classifications and divide them further for the user's convenience.\n\nSome useful links:\n- [About JoPACC](https://jopacc.com)\n                  \n![JOF2](https://www.jopacc.com/sites/default/files/2023-12/jpc-internal-jof-bottom.png)\n  \n",
    "version" : "v0.4.3"
  },
  "servers" : [ {
    "url" : "http://jpcjofsdev.apigw-az-eu.webmethods.io/gateway/Accounts/v0.4.3"
  } ],
  "tags" : [ {
    "name" : "Accounts",
    "description" : "Account Services"
  } ],
  "paths" : {
    "/accounts/{accountAddress}" : {
      "summary" : "/accounts/{accountAddress}",
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "get a specific account's data",
        "description" : "retrieve account information by accountAddress. The type of value in {accountAddress} is defined by accountSchema",
        "operationId" : "getAccount",
        "parameters" : [ {
          "name" : "accountAddress",
          "in" : "path",
          "description" : "Account Address of the user",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "accountSchema",
          "in" : "header",
          "description" : "Schema of the account address of the user. Defined as 'accountId' if using accountId, or 'IBAN' in case of using Iban ..etc",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "accountId",
            "example" : null
          }
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization header in which the token is placed",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-interactions-id",
          "in" : "header",
          "description" : "Unique id for the interaction, used in all request and responses that are related",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Unique id that is generated for each request and response. Used for tracking and to check for duplicate calls",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-financial-id",
          "in" : "header",
          "description" : "Unique id for the Financial Institution; BIC or Pseudo-BIC code of the sender",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "JWS Signature, refer to security reference",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-auth-date",
          "in" : "header",
          "description" : "Date and time of the last authentication of the User by the TPP",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-customer-id",
          "in" : "header",
          "description" : "Unique id for the User",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-customer-ip-address",
          "in" : "header",
          "description" : "The User's IP address if the user is currently logged in with the TPP",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-customer-user-agent",
          "in" : "header",
          "description" : "Indicates the user-agent the User is using. Helps protecting from comprimised devices",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/account"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "400" : {
            "description" : "400 Bad Request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_badRequest"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "401" : {
            "description" : "401 Unauthorized",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_unauthorized"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "500" : {
            "description" : "500 Internal Service Error",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_internalServerError"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "403" : {
            "description" : "403 Forbidden",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_forbidden"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "404" : {
            "description" : "404 Not Found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_notFound"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "415" : {
            "description" : "415 Unsupported Media Type",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_unsupportedMediaType"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "503" : {
            "description" : "503 Service Unavailable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_serviceUnavailable"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "405" : {
            "description" : "405 Method Not Allowed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_methodNotAllowed"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "406" : {
            "description" : "406 Not Acceptable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_notAcceptable"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "429" : {
            "description" : "429 Too Many Requests",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_tooManyRequests"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          }
        }
      },
      "parameters" : [ ]
    },
    "/accounts" : {
      "summary" : "/accounts",
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "get a list of accounts",
        "description" : "retrieve list of accounts with information",
        "operationId" : "getAccounts",
        "parameters" : [ {
          "name" : "accountStatus",
          "in" : "query",
          "description" : "filter by status of account",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "accountType",
          "in" : "query",
          "description" : "filter by type of account. Defined as {main type}.{sub type}.{sub type}.. etc where types are seperated by a \".\"",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "The number of resources to skip showing in this response. Used for pagination",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "default" : 0,
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of resources to return in the response. Used for pagination",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int64",
            "default" : 10,
            "example" : null
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sorting the response by creation date of the resources (ascending or descending)",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "asc", "desc" ],
            "default" : "desc",
            "example" : null
          }
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization header in which the token is placed",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-interactions-id",
          "in" : "header",
          "description" : "Unique id for the interaction, used in all request and responses that are related",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Unique id that is generated for each request and response. Used for tracking and to check for duplicate calls",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-financial-id",
          "in" : "header",
          "description" : "Unique id for the Financial Institution; BIC or Pseudo-BIC code of the sender",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "JWS Signature, refer to security reference",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-auth-date",
          "in" : "header",
          "description" : "Date and time of the last authentication of the User by the TPP",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-customer-id",
          "in" : "header",
          "description" : "Unique id for the User",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-customer-ip-address",
          "in" : "header",
          "description" : "The User's IP address if the user is currently logged in with the TPP",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "x-customer-user-agent",
          "in" : "header",
          "description" : "Indicates the user-agent the User is using. Helps protecting from comprimised devices",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "_links" : {
                      "$ref" : "#/components/schemas/links/properties/pagination"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "$ref" : "#/components/schemas/account"
                      },
                      "example" : null
                    }
                  },
                  "example" : null
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "400" : {
            "description" : "400 Bad Request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_badRequest"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "401" : {
            "description" : "401 Unauthorized",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_unauthorized"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "500" : {
            "description" : "500 Internal Service Error",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_internalServerError"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "403" : {
            "description" : "403 Forbidden",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_forbidden"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "404" : {
            "description" : "404 Not Found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_notFound"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "415" : {
            "description" : "415 Unsupported Media Type",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_unsupportedMediaType"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "503" : {
            "description" : "503 Service Unavailable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_serviceUnavailable"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "405" : {
            "description" : "405 Method Not Allowed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_methodNotAllowed"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "406" : {
            "description" : "406 Not Acceptable",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_notAcceptable"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "429" : {
            "description" : "429 Too Many Requests",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_tooManyRequests"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          }
        }
      },
      "parameters" : [ ]
    }
  },
  "components" : {
    "schemas" : {
      "dateTime" : {
        "type" : "string",
        "format" : "date-time(YYYY-MM-DDTHH:mm:ssZ)",
        "example" : "2006-09-15T10:30:00.000Z"
      },
      "routeComplexType" : {
        "required" : [ "address", "schema" ],
        "type" : "object",
        "properties" : {
          "address" : {
            "type" : "string",
            "format" : "str",
            "example" : "JO27CBJO0010000000000000000001"
          },
          "schema" : {
            "type" : "string",
            "format" : "str",
            "example" : "IBAN"
          }
        },
        "example" : null
      },
      "balanceComplexType" : {
        "required" : [ "balanceAmount", "balancePosition" ],
        "type" : "object",
        "properties" : {
          "balanceAmount" : {
            "type" : "number",
            "format" : "float(4 decimals)",
            "example" : 25.001
          },
          "balancePosition" : {
            "type" : "string",
            "description" : "indicates the position of the balance, if its either credit or debit",
            "enum" : [ "credit", "debit" ],
            "example" : null
          }
        },
        "example" : null
      },
      "amountComplexType" : {
        "required" : [ "amount", "currency" ],
        "type" : "object",
        "properties" : {
          "amount" : {
            "type" : "number",
            "format" : "float(4 decimals)",
            "example" : 25.001
          },
          "currency" : {
            "type" : "string",
            "format" : "ISO 4217",
            "example" : "JOD"
          }
        },
        "example" : null
      },
      "error_notFound" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "object",
            "example" : "resource.notFound"
          },
          "desc" : {
            "type" : "object",
            "example" : "The requested resource could not be found"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "object",
                  "example" : "http.url.invalid.endpoint"
                },
                "desc" : {
                  "type" : "object",
                  "example" : "The requested endpoint is not valid. Please check the url and try again"
                }
              },
              "example" : null
            },
            "example" : null
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/errorBody"
        }, {
          "type" : "object",
          "example" : null
        } ],
        "example" : null
      },
      "error_serviceUnavailable" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "object",
            "example" : "server.service.error"
          },
          "desc" : {
            "type" : "object",
            "example" : "The requested service is currently unavailable"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "object",
                  "example" : "server.service.maintenance"
                },
                "desc" : {
                  "type" : "object",
                  "example" : "The service is temporarily down for maintenance. Please try again later"
                }
              },
              "example" : null
            },
            "example" : null
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/errorBody"
        }, {
          "type" : "object",
          "example" : null
        } ],
        "example" : null
      },
      "debtorComplexType" : {
        "type" : "object",
        "properties" : {
          "debtorAccount" : {
            "$ref" : "#/components/schemas/accountBasicInfoComplexType"
          },
          "debtorAgent" : {
            "type" : "object",
            "example" : null
          },
          "debtorPersonal" : {
            "$ref" : "#/components/schemas/debtorCreditorPersonalComplexType"
          }
        },
        "example" : null
      },
      "creditorComplexType" : {
        "type" : "object",
        "properties" : {
          "creditorAccount" : {
            "$ref" : "#/components/schemas/accountBasicInfoComplexType"
          },
          "creditorAgent" : {
            "type" : "object",
            "example" : null
          },
          "creditorPersonal" : {
            "$ref" : "#/components/schemas/debtorCreditorPersonalComplexType"
          }
        },
        "example" : null
      },
      "errorBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "High-level error code",
            "example" : "path.subPath"
          },
          "desc" : {
            "type" : "string",
            "description" : "Descriptive message of the error",
            "example" : "High-level description of the error"
          },
          "errors" : {
            "type" : "array",
            "description" : "List of specific errors. Used to display multiple errors if more than one exist",
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "string",
                  "description" : "Specific error code",
                  "example" : "specificPath.specificSubPath"
                },
                "desc" : {
                  "type" : "string",
                  "description" : "Descriptive message of the specific error",
                  "example" : "Specific description of this error object"
                }
              },
              "example" : null
            },
            "example" : null
          },
          "id" : {
            "type" : "string",
            "description" : "Unique identifier for the error response. Used for logging and tracking errors",
            "format" : "UUIDv4",
            "example" : "2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"
          }
        },
        "example" : null
      },
      "accountBasicInfoComplexType" : {
        "required" : [ "accountId", "mainRoute" ],
        "type" : "object",
        "properties" : {
          "accountId" : {
            "type" : "string",
            "format" : "str",
            "example" : "str123"
          },
          "mainRoute" : {
            "$ref" : "#/components/schemas/routeComplexType"
          }
        },
        "example" : null
      },
      "dayComplexType" : {
        "type" : "object",
        "properties" : {
          "closingTime" : {
            "type" : "string",
            "format" : "time(HH:mm)",
            "example" : "18:00"
          },
          "isWorkingDay" : {
            "type" : "boolean",
            "example" : true
          },
          "openingTime" : {
            "type" : "string",
            "format" : "time(HH:mm)",
            "example" : "10:00"
          },
          "secondClosingTime" : {
            "type" : "string",
            "format" : "time(HH:mm)",
            "example" : "23:00"
          },
          "secondOpeningTime" : {
            "type" : "string",
            "format" : "time(HH:mm)",
            "example" : "19:00"
          }
        },
        "example" : null
      },
      "links" : {
        "type" : "object",
        "properties" : {
          "CAF" : {
            "type" : "object",
            "properties" : {
              "account" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "institution" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          },
          "FI" : {
            "type" : "object",
            "properties" : {
              "FXs" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution/FXs"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "SSTs" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution/SSTs"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "branches" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution/branches"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "fees" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution/fees"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "offers" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution/offers"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "products" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution/products"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "self" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          },
          "FXs" : {
            "type" : "object",
            "properties" : {
              "institution" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "self" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution/FXs/{targetCurrency}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          },
          "OTP" : {
            "type" : "object",
            "properties" : {
              "account" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "institution" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          },
          "SOSP" : {
            "type" : "object",
            "properties" : {
              "account" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "beneficiary" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/beneficiaries/{beneficiaryId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "institution" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "self" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/SOSPs/{SOSPId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          },
          "SSTs" : {
            "type" : "object",
            "properties" : {
              "institution" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "self" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution/SSTs/{sstId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          },
          "accounts" : {
            "type" : "object",
            "properties" : {
              "CAF" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/CAF"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "POST"
                  }
                },
                "example" : null
              },
              "SOSPs" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/SOSPs"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "balances" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/balances"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "beneficiaries" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/beneficiaries"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "branch" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "institution/branches/{branchId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "POST"
                  }
                },
                "example" : null
              },
              "institution" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "offers" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/offers"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "self" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "transactions" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/transactions"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          },
          "balances" : {
            "type" : "object",
            "properties" : {
              "account" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "institution" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "self" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/balances"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          },
          "beneficiaries" : {
            "type" : "object",
            "properties" : {
              "account" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "institution" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "self" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/beneficiaries/{beneficiaryId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          },
          "branches" : {
            "type" : "object",
            "properties" : {
              "institution" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "self" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution/branches/{branchId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          },
          "offers" : {
            "type" : "object",
            "properties" : {
              "account" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "institution" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "product" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/products/{productId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "self" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/offers/{offerId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          },
          "offersPublic" : {
            "type" : "object",
            "properties" : {
              "institution" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "product" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution/products/{productId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "self" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution/offers/{offerId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          },
          "pagination" : {
            "type" : "object",
            "properties" : {
              "last" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/{route}/{resource}?skip={X}&limit={Y}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "description" : "links to the last page of resource",
                "example" : null
              },
              "next" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/{route}/{resource}?skip={X}&limit={Y}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "description" : "links to the next page of resource",
                "example" : null
              },
              "prev" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/{route}/{resource}?skip={X}&limit={Y}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "description" : "links to the previous page of resource",
                "example" : null
              }
            },
            "example" : null
          },
          "transactions" : {
            "type" : "object",
            "properties" : {
              "FXs" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution/FXs/{currency}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "account" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "institution" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/institution"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              },
              "self" : {
                "type" : "object",
                "properties" : {
                  "href" : {
                    "type" : "string",
                    "example" : "/accounts/{accountId}/transactions/{transactionId}"
                  },
                  "method" : {
                    "type" : "string",
                    "example" : "GET"
                  }
                },
                "example" : null
              }
            },
            "example" : null
          }
        },
        "example" : null
      },
      "countryInfo" : {
        "type" : "object",
        "properties" : {
          "countryCode" : {
            "type" : "string",
            "format" : "ISO 3166-1 alpha-2",
            "example" : "JO"
          },
          "countryName" : {
            "type" : "string",
            "example" : "Jordan"
          }
        },
        "example" : null
      },
      "email" : {
        "type" : "string",
        "example" : "+1 987-654-3210"
      },
      "error_notAcceptable" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "object",
            "example" : "http.headers.invalid"
          },
          "desc" : {
            "type" : "object",
            "example" : "The requested content cannot be served in the specified format"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "object",
                  "example" : "http.content.unsupportedFormat"
                },
                "desc" : {
                  "type" : "object",
                  "example" : "The requested format is not supported. Please specify a different format"
                }
              },
              "example" : null
            },
            "example" : null
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/errorBody"
        }, {
          "type" : "object",
          "example" : null
        } ],
        "example" : null
      },
      "error_tooManyRequests" : {
        "required" : [ "code", "desc" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "object",
            "example" : "rateLimit.exceeded"
          },
          "desc" : {
            "type" : "object",
            "example" : "The rate limit for requests has been exceeded"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "object",
                  "example" : "rateLimit.exceeded"
                },
                "desc" : {
                  "type" : "object",
                  "example" : "The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"
                }
              },
              "example" : null
            },
            "example" : null
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/errorBody"
        }, {
          "type" : "object",
          "example" : null
        } ],
        "example" : null
      },
      "feesComplexType" : {
        "type" : "object",
        "properties" : {
          "additionalInformation" : {
            "type" : "object",
            "format" : "string",
            "example" : "[\"string\"]"
          },
          "applicableForInstitutions" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "address" : {
                  "type" : "object",
                  "example" : "JORDJOA0"
                },
                "schema" : {
                  "type" : "object",
                  "example" : "bicCode"
                }
              },
              "allOf" : [ {
                "$ref" : "#/components/schemas/routeComplexType"
              }, {
                "type" : "object",
                "example" : null
              } ],
              "example" : null
            },
            "example" : null
          },
          "feeCategory" : {
            "type" : "string",
            "description" : "describes the fee if it's the 'default' fee which applies to all institutions, or if it's a 'special' fee that applies only to specific institutions",
            "example" : "default",
            "enum" : [ "default", "special" ]
          },
          "feeId" : {
            "type" : "string",
            "example" : "str123"
          },
          "fees" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "feeAmount" : {
                  "$ref" : "#/components/schemas/amountComplexType"
                },
                "feeType" : {
                  "type" : "string",
                  "description" : "type of fee, such as surcharges, comissions, stamps.. etc",
                  "example" : "surcharges"
                }
              },
              "example" : null
            },
            "example" : null
          },
          "lastModificationDateTime" : {
            "$ref" : "#/components/schemas/dateTime"
          },
          "service" : {
            "type" : "string",
            "description" : "the specific service for which the fee applies. A \".\" is used to split the sub-services",
            "example" : "ATM.cashWithdrawal.foreignCurrency.elite"
          },
          "serviceChannel" : {
            "type" : "string",
            "description" : "the channel through which the service is provided",
            "example" : "automatedTeller"
          }
        },
        "example" : null
      },
      "routingsComplexType" : {
        "type" : "array",
        "items" : {
          "type" : "object",
          "properties" : {
            "address" : {
              "type" : "object",
              "example" : "HSM"
            },
            "schema" : {
              "type" : "object",
              "example" : "CLIQ"
            }
          },
          "allOf" : [ {
            "$ref" : "#/components/schemas/routeComplexType"
          }, {
            "type" : "object",
            "example" : null
          } ],
          "example" : null
        },
        "example" : null
      },
      "error_internalServerError" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "object",
            "example" : "server.error"
          },
          "desc" : {
            "type" : "object",
            "example" : "An internal server error occurred"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "object",
                  "example" : "server.error.database"
                },
                "desc" : {
                  "type" : "object",
                  "example" : "Error accessing the database. Please contact the development support team or try again later"
                }
              },
              "example" : null
            },
            "example" : null
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/errorBody"
        }, {
          "type" : "object",
          "example" : null
        } ],
        "example" : null
      },
      "defaultFeeSurcharges" : {
        "type" : "object",
        "properties" : {
          "defaultBalanceInquiryFee" : {
            "$ref" : "#/components/schemas/amountComplexType"
          },
          "defaultCashWithdrawalInternationalFee" : {
            "$ref" : "#/components/schemas/amountComplexType"
          },
          "defaultCashWithdrawalNationalFee" : {
            "$ref" : "#/components/schemas/amountComplexType"
          }
        },
        "example" : null
      },
      "website" : {
        "type" : "string",
        "format" : "URL Living Standard",
        "example" : "www.jopacc.com"
      },
      "addressComplexType" : {
        "type" : "object",
        "properties" : {
          "addresslines" : {
            "$ref" : "#/components/schemas/addresslines"
          },
          "city" : {
            "type" : "string",
            "example" : "Amman"
          },
          "countryInfo" : {
            "$ref" : "#/components/schemas/countryInfo"
          },
          "location" : {
            "$ref" : "#/components/schemas/location"
          },
          "moreInfo" : {
            "type" : "string",
            "example" : "textarea"
          },
          "phoneNumber" : {
            "$ref" : "#/components/schemas/phoneNumber"
          },
          "postcode" : {
            "type" : "string",
            "example" : "11962"
          },
          "state" : {
            "type" : "string",
            "example" : "Capital"
          },
          "website" : {
            "$ref" : "#/components/schemas/website"
          }
        },
        "example" : null
      },
      "feeSurchargeComplexType" : {
        "type" : "array",
        "format" : "object",
        "items" : {
          "$ref" : "#/components/schemas/feeSurcharge"
        },
        "example" : null
      },
      "error_forbidden" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "object",
            "example" : "http.auth.forbidden"
          },
          "desc" : {
            "type" : "object",
            "example" : "Insufficient privileges. Access to the requested resource is forbidden"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "object",
                  "example" : "http.auth.role.insufficient"
                },
                "desc" : {
                  "type" : "object",
                  "example" : "You do not have the necessary permissions to access this resource"
                }
              },
              "example" : null
            },
            "example" : null
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/errorBody"
        }, {
          "type" : "object",
          "example" : null
        } ],
        "example" : null
      },
      "accountOwnerComplexType" : {
        "type" : "object",
        "properties" : {
          "accountHolderType" : {
            "$ref" : "#/components/schemas/account/properties/accountHolderType"
          },
          "address" : {
            "type" : "object",
            "properties" : {
              "addresslines" : {
                "$ref" : "#/components/schemas/addresslines"
              },
              "countryInfo" : {
                "$ref" : "#/components/schemas/countryInfo"
              }
            },
            "example" : null
          },
          "name" : {
            "$ref" : "#/components/schemas/name"
          }
        },
        "example" : null
      },
      "debtorCreditorPersonalComplexType" : {
        "type" : "object",
        "properties" : {
          "identification" : {
            "type" : "string",
            "description" : "Identification of the debtor/creditor as seen on the transaction",
            "example" : "str123"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the debtor/creditor as seen on the transaction",
            "example" : "Mohammed Lee"
          },
          "postalAddress" : {
            "type" : "array",
            "description" : "Address of the debtor/creditor as seen on the transaction",
            "items" : {
              "type" : "string",
              "example" : "Arar Street, Amman, Jordan"
            },
            "example" : null
          }
        },
        "example" : null
      },
      "feeSurcharge" : {
        "type" : "object",
        "properties" : {
          "feeAmount" : {
            "$ref" : "#/components/schemas/amountComplexType"
          },
          "feeSurchargeType" : {
            "type" : "string",
            "example" : "cashWithdrawalNationalFee"
          },
          "institutionCode" : {
            "type" : "object",
            "properties" : {
              "address" : {
                "type" : "object",
                "example" : "JORDJOA0"
              },
              "schema" : {
                "type" : "object",
                "example" : "bicCode"
              }
            },
            "allOf" : [ {
              "$ref" : "#/components/schemas/routeComplexType"
            }, {
              "type" : "object",
              "example" : null
            } ],
            "example" : null
          }
        },
        "example" : null
      },
      "institutionBasicInfoComplexType" : {
        "required" : [ "institutionIdentification", "institutionType", "name" ],
        "type" : "object",
        "properties" : {
          "institutionIdentification" : {
            "type" : "object",
            "properties" : {
              "address" : {
                "type" : "object",
                "example" : "JORDJOA0"
              },
              "schema" : {
                "type" : "object",
                "example" : "bicCode"
              }
            },
            "allOf" : [ {
              "$ref" : "#/components/schemas/routeComplexType"
            }, {
              "type" : "object",
              "example" : null
            } ],
            "example" : null
          },
          "institutionPhoneNumber" : {
            "$ref" : "#/components/schemas/phoneNumber"
          },
          "institutionType" : {
            "type" : "string",
            "format" : "str",
            "example" : "BANK"
          },
          "name" : {
            "$ref" : "#/components/schemas/nameComplexType"
          }
        },
        "example" : null
      },
      "accessibilityFeatures" : {
        "type" : "object",
        "format" : "string",
        "example" : "[\"wheelchair\",\"brailleSupported\"]"
      },
      "phoneNumber" : {
        "type" : "string",
        "format" : "E.164",
        "example" : "+962761231234"
      },
      "workingHoursComplexType" : {
        "type" : "object",
        "properties" : {
          "friday" : {
            "$ref" : "#/components/schemas/dayComplexType"
          },
          "monday" : {
            "$ref" : "#/components/schemas/dayComplexType"
          },
          "saturday" : {
            "$ref" : "#/components/schemas/dayComplexType"
          },
          "sunday" : {
            "$ref" : "#/components/schemas/dayComplexType"
          },
          "thursday" : {
            "$ref" : "#/components/schemas/dayComplexType"
          },
          "tuesday" : {
            "$ref" : "#/components/schemas/dayComplexType"
          },
          "wednesday" : {
            "$ref" : "#/components/schemas/dayComplexType"
          }
        },
        "example" : null
      },
      "error_badRequest" : {
        "required" : [ "code", "desc" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "object",
            "example" : "http.request.invalid"
          },
          "desc" : {
            "type" : "object",
            "example" : "Invalid request parameters"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "object",
                  "example" : "http.headers.invalid"
                },
                "desc" : {
                  "type" : "object",
                  "example" : "Required header x-interactions-id is missing"
                }
              },
              "example" : null
            },
            "example" : null
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/errorBody"
        }, {
          "type" : "object",
          "example" : null
        } ],
        "example" : null
      },
      "nameComplexType" : {
        "type" : "object",
        "properties" : {
          "tradeName" : {
            "$ref" : "#/components/schemas/name"
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/name"
        }, {
          "type" : "object",
          "example" : null
        } ],
        "example" : null
      },
      "addresslines" : {
        "type" : "object",
        "format" : "string",
        "example" : "[\"Amman, Jordan\",\"Wadi Saqra\",\"Arar Street\"]"
      },
      "name" : {
        "required" : [ "enName" ],
        "type" : "object",
        "properties" : {
          "arName" : {
            "type" : "string",
            "format" : "str",
            "example" : null
          },
          "enName" : {
            "type" : "string",
            "format" : "str",
            "example" : null
          }
        },
        "example" : null
      },
      "location" : {
        "type" : "object",
        "properties" : {
          "latitude" : {
            "type" : "number",
            "format" : "float",
            "example" : 31.9504003
          },
          "longitude" : {
            "type" : "number",
            "format" : "float",
            "example" : 35.8648691
          }
        },
        "example" : null
      },
      "error_unauthorized" : {
        "required" : [ "code", "desc" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "object",
            "example" : "http.auth.invalid"
          },
          "desc" : {
            "type" : "object",
            "example" : "Invalid authentication credentials"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "object",
                  "example" : "http.auth.header.missing"
                },
                "desc" : {
                  "type" : "object",
                  "example" : "Authentication header is missing. Please include the 'Authorization' header in your request."
                }
              },
              "example" : null
            },
            "example" : null
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/errorBody"
        }, {
          "type" : "object",
          "example" : null
        } ],
        "example" : null
      },
      "branchBasicInfoComplexType" : {
        "required" : [ "branchIdentification", "name" ],
        "type" : "object",
        "properties" : {
          "branchIdentification" : {
            "type" : "object",
            "properties" : {
              "address" : {
                "type" : "object",
                "example" : "10"
              },
              "schema" : {
                "type" : "object",
                "example" : "branchCode"
              }
            },
            "allOf" : [ {
              "$ref" : "#/components/schemas/routeComplexType"
            }, {
              "type" : "object",
              "example" : null
            } ],
            "example" : null
          },
          "contact" : {
            "$ref" : "#/components/schemas/contactComplexType"
          },
          "name" : {
            "$ref" : "#/components/schemas/nameComplexType"
          }
        },
        "example" : null
      },
      "contactComplexType" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "$ref" : "#/components/schemas/email"
          },
          "phoneNumber" : {
            "$ref" : "#/components/schemas/phoneNumber"
          }
        },
        "example" : null
      },
      "error_methodNotAllowed" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "object",
            "example" : "http.method.invalid"
          },
          "desc" : {
            "type" : "object",
            "example" : "The requested HTTP method is not allowed for this resource"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "object",
                  "example" : "http.method.invalid.patch"
                },
                "desc" : {
                  "type" : "object",
                  "example" : "PATCH method is not supported for this resource"
                }
              },
              "example" : null
            },
            "example" : null
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/errorBody"
        }, {
          "type" : "object",
          "example" : null
        } ],
        "example" : null
      },
      "account" : {
        "required" : [ "accountCurrency", "accountId", "accountStatus", "accountType", "branchBasicInfo", "institutionBasicInfo", "mainRoute", "openingDate", "sharedAccount" ],
        "type" : "object",
        "properties" : {
          "_links" : {
            "$ref" : "#/components/schemas/links/properties/accounts"
          },
          "accountCurrency" : {
            "type" : "string",
            "format" : "ISO 4217",
            "example" : "JOD"
          },
          "accountHolderType" : {
            "type" : "string",
            "format" : "str",
            "example" : "individual"
          },
          "accountId" : {
            "type" : "string",
            "format" : "str",
            "example" : "str123"
          },
          "accountStatus" : {
            "type" : "string",
            "format" : "str",
            "example" : "active"
          },
          "accountType" : {
            "type" : "object",
            "properties" : {
              "code" : {
                "type" : "string",
                "description" : "account type code. defined as {main type}.{sub type}.{sub type}.. etc where types are seperated by a \".\"",
                "format" : "str",
                "example" : "CHK.BUS"
              },
              "name" : {
                "type" : "string",
                "format" : "str",
                "example" : "Business Checking Account"
              }
            },
            "example" : null
          },
          "availableBalance" : {
            "$ref" : "#/components/schemas/balanceComplexType"
          },
          "branchBasicInfo" : {
            "$ref" : "#/components/schemas/branchBasicInfoComplexType"
          },
          "custodian" : {
            "type" : "object",
            "properties" : {
              "accountBasicInfo" : {
                "$ref" : "#/components/schemas/accountBasicInfoComplexType"
              },
              "relationshipType" : {
                "type" : "string",
                "format" : "str",
                "example" : "FATHER"
              }
            },
            "example" : null
          },
          "institutionBasicInfo" : {
            "$ref" : "#/components/schemas/institutionBasicInfoComplexType"
          },
          "lastModificationDateTime" : {
            "$ref" : "#/components/schemas/dateTime"
          },
          "lockedForCredit" : {
            "type" : "boolean",
            "example" : true
          },
          "lockedForDebit" : {
            "type" : "boolean",
            "example" : true
          },
          "mainRoute" : {
            "$ref" : "#/components/schemas/routeComplexType"
          },
          "openingDate" : {
            "$ref" : "#/components/schemas/dateTime"
          },
          "productId" : {
            "type" : "string",
            "format" : "str",
            "example" : "productId"
          },
          "routings" : {
            "$ref" : "#/components/schemas/routingsComplexType"
          },
          "sharedAccount" : {
            "type" : "boolean",
            "example" : false
          }
        },
        "example" : null
      },
      "error_unsupportedMediaType" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "object",
            "example" : "media.unsupportedEncoding"
          },
          "desc" : {
            "type" : "object",
            "example" : "The requested media encoding is not supported"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "object",
                  "example" : "media.unsupportedEncoding.appXml"
                },
                "desc" : {
                  "type" : "object",
                  "example" : "The requested format 'application/xml' is not supported"
                }
              },
              "example" : null
            },
            "example" : null
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/errorBody"
        }, {
          "type" : "object",
          "example" : null
        } ],
        "example" : null
      },
      "currencies" : {
        "type" : "object",
        "format" : "string",
        "example" : "[\"JOD\",\"USD\"]"
      }
    },
    "responses" : {
      "badRequest" : {
        "description" : "",
        "headers" : { },
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error_badRequest"
            },
            "examples" : { },
            "example" : null
          }
        }
      },
      "unsupportedMediaType" : {
        "description" : "",
        "headers" : { },
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error_unsupportedMediaType"
            },
            "examples" : { },
            "example" : null
          }
        }
      },
      "serviceUnavailable" : {
        "description" : "",
        "headers" : { },
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error_serviceUnavailable"
            },
            "examples" : { },
            "example" : null
          }
        }
      },
      "unauthorized" : {
        "description" : "",
        "headers" : { },
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error_unauthorized"
            },
            "examples" : { },
            "example" : null
          }
        }
      },
      "forbidden" : {
        "description" : "",
        "headers" : { },
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error_forbidden"
            },
            "examples" : { },
            "example" : null
          }
        }
      },
      "getAccount" : {
        "description" : "",
        "headers" : { },
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/account"
            },
            "examples" : { },
            "example" : null
          }
        }
      },
      "methodNotAllowed" : {
        "description" : "",
        "headers" : { },
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error_methodNotAllowed"
            },
            "examples" : { },
            "example" : null
          }
        }
      },
      "internalServerError" : {
        "description" : "",
        "headers" : { },
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error_internalServerError"
            },
            "examples" : { },
            "example" : null
          }
        }
      },
      "notFound" : {
        "description" : "",
        "headers" : { },
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error_notFound"
            },
            "examples" : { },
            "example" : null
          }
        }
      },
      "tooManyRequests" : {
        "description" : "",
        "headers" : { },
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error_tooManyRequests"
            },
            "examples" : { },
            "example" : null
          }
        }
      },
      "getAccounts" : {
        "description" : "",
        "headers" : { },
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "_links" : {
                  "$ref" : "#/components/schemas/links/properties/pagination"
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/account"
                  },
                  "example" : null
                }
              },
              "example" : null
            },
            "examples" : { },
            "example" : null
          }
        }
      },
      "notAcceptable" : {
        "description" : "",
        "headers" : { },
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/error_notAcceptable"
            },
            "examples" : { },
            "example" : null
          }
        }
      }
    },
    "parameters" : {
      "x-customer-ip-address" : {
        "name" : "x-customer-ip-address",
        "in" : "header",
        "description" : "The User's IP address if the user is currently logged in with the TPP",
        "required" : false,
        "allowEmptyValue" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      },
      "x-financial-id" : {
        "name" : "x-financial-id",
        "in" : "header",
        "description" : "Unique id for the Financial Institution; BIC or Pseudo-BIC code of the sender",
        "required" : false,
        "allowEmptyValue" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      },
      "accountAddress" : {
        "name" : "accountAddress",
        "in" : "path",
        "description" : "Account Address of the user",
        "required" : true,
        "allowEmptyValue" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      },
      "accountType" : {
        "name" : "accountType",
        "in" : "query",
        "description" : "filter by type of account. Defined as {main type}.{sub type}.{sub type}.. etc where types are seperated by a \".\"",
        "required" : false,
        "allowEmptyValue" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      },
      "skip" : {
        "name" : "skip",
        "in" : "query",
        "description" : "The number of resources to skip showing in this response. Used for pagination",
        "required" : false,
        "allowEmptyValue" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "integer",
          "format" : "int32",
          "default" : 0,
          "example" : null
        }
      },
      "sort" : {
        "name" : "sort",
        "in" : "query",
        "description" : "Sorting the response by creation date of the resources (ascending or descending)",
        "required" : false,
        "allowEmptyValue" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "asc", "desc" ],
          "default" : "desc",
          "example" : null
        }
      },
      "accountSchema" : {
        "name" : "accountSchema",
        "in" : "header",
        "description" : "Schema of the account address of the user. Defined as 'accountId' if using accountId, or 'IBAN' in case of using Iban ..etc",
        "required" : true,
        "allowEmptyValue" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "default" : "accountId",
          "example" : null
        }
      },
      "Authorization" : {
        "name" : "Authorization",
        "in" : "header",
        "description" : "Authorization header in which the token is placed",
        "required" : true,
        "allowEmptyValue" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      },
      "accountStatus" : {
        "name" : "accountStatus",
        "in" : "query",
        "description" : "filter by status of account",
        "required" : false,
        "allowEmptyValue" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      },
      "accountId" : {
        "name" : "accountId",
        "in" : "path",
        "description" : "Account id of the user",
        "required" : true,
        "allowEmptyValue" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      },
      "x-customer-id" : {
        "name" : "x-customer-id",
        "in" : "header",
        "description" : "Unique id for the User",
        "required" : false,
        "allowEmptyValue" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      },
      "x-customer-user-agent" : {
        "name" : "x-customer-user-agent",
        "in" : "header",
        "description" : "Indicates the user-agent the User is using. Helps protecting from comprimised devices",
        "required" : false,
        "allowEmptyValue" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      },
      "x-jws-signature" : {
        "name" : "x-jws-signature",
        "in" : "header",
        "description" : "JWS Signature, refer to security reference",
        "required" : true,
        "allowEmptyValue" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      },
      "x-auth-date" : {
        "name" : "x-auth-date",
        "in" : "header",
        "description" : "Date and time of the last authentication of the User by the TPP",
        "required" : false,
        "allowEmptyValue" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      },
      "limit" : {
        "name" : "limit",
        "in" : "query",
        "description" : "The maximum number of resources to return in the response. Used for pagination",
        "required" : false,
        "allowEmptyValue" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "maximum" : 100,
          "minimum" : 1,
          "type" : "integer",
          "format" : "int32",
          "default" : 10,
          "example" : null
        }
      },
      "x-idempotency-key" : {
        "name" : "x-idempotency-key",
        "in" : "header",
        "description" : "Unique id that is generated for each request and response. Used for tracking and to check for duplicate calls",
        "required" : true,
        "allowEmptyValue" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      },
      "x-interactions-id" : {
        "name" : "x-interactions-id",
        "in" : "header",
        "description" : "Unique id for the interaction, used in all request and responses that are related",
        "required" : true,
        "allowEmptyValue" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "example" : null
        }
      }
    },
    "examples" : { },
    "requestBodies" : { },
    "headers" : { },
    "links" : { },
    "callbacks" : { }
  }
}