#%RAML 0.8
title: Balances
version: v0.4.3
baseUri: "https://jpcjofsdev.apigw-az-eu.webmethods.io/gateway/Balances/v0.4.3"
protocols: [HTTPS]
schemas: 
    - 
        dateTime: '{"type":"string","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"}'
        error_internalServerError: '{"type":"object","properties":{"code":{"type":"string","example":"server.error"},"desc":{"type":"string","example":"An internal server error occurred"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.error.database"},"desc":{"type":"string","example":"Error accessing the database. Please contact the development support team or try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        balanceComplexType: '{"required":["balanceAmount","balancePosition"],"type":"object","properties":{"balanceAmount":{"type":"number","format":"float(4 decimals)","example":"25.001"},"balancePosition":{"type":"string","description":"indicates the position of the balance, if its either credit or debit","enum":["credit","debit"]}}}'
        error_forbidden: '{"type":"object","properties":{"code":{"type":"string","example":"http.auth.forbidden"},"desc":{"type":"string","example":"Insufficient privileges. Access to the requested resource is forbidden"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.role.insufficient"},"desc":{"type":"string","example":"You do not have the necessary permissions to access this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_notFound: '{"type":"object","properties":{"code":{"type":"string","example":"resource.notFound"},"desc":{"type":"string","example":"The requested resource could not be found"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.url.invalid.endpoint"},"desc":{"type":"string","example":"The requested endpoint is not valid. Please check the url and try again"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_serviceUnavailable: '{"type":"object","properties":{"code":{"type":"string","example":"server.service.error"},"desc":{"type":"string","example":"The requested service is currently unavailable"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.service.maintenance"},"desc":{"type":"string","example":"The service is temporarily down for maintenance. Please try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        balances: '{"required":["availableBalance","balanceCurrency","currentBalance"],"type":"object","properties":{"_links":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/balances"},"method":{"type":"string","example":"GET"}}}}},"availableBalance":{"required":["balanceAmount","balancePosition"],"type":"object","properties":{"balanceAmount":{"type":"number","format":"float(4 decimals)","example":"25.001"},"balancePosition":{"type":"string","description":"indicates the position of the balance, if its either credit or debit","enum":["credit","debit"]}}},"balanceCurrency":{"type":"string","format":"ISO 4217","example":"JOD"},"creditlimit":{"type":"number","format":"float(4 decimals)","example":"25.001"},"currentBalance":{"required":["balanceAmount","balancePosition"],"type":"object","properties":{"balanceAmount":{"type":"number","format":"float(4 decimals)","example":"25.001"},"balancePosition":{"type":"string","description":"indicates the position of the balance, if its either credit or debit","enum":["credit","debit"]}}},"lastModificationDate":{"type":"string","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"}}}'
        errorBody: '{"type":"object","properties":{"code":{"type":"string","description":"High-level error code","example":"path.subPath"},"desc":{"type":"string","description":"Descriptive message of the error","example":"High-level description of the error"},"errors":{"type":"array","description":"List of specific errors. Used to display multiple errors if more than one exist","items":{"type":"object","properties":{"code":{"type":"string","description":"Specific error code","example":"specificPath.specificSubPath"},"desc":{"type":"string","description":"Descriptive message of the specific error","example":"Specific description of this error object"}}}},"id":{"type":"string","description":"Unique identifier for the error response. Used for logging and tracking errors","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_badRequest: '{"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.request.invalid"},"desc":{"type":"string","example":"Invalid request parameters"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"Required header x-interactions-id is missing"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        links: '{"type":"object","properties":{"CAF":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}}}},"FI":{"type":"object","properties":{"FXs":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs"},"method":{"type":"string","example":"GET"}}},"SSTs":{"type":"object","properties":{"href":{"type":"string","example":"/institution/SSTs"},"method":{"type":"string","example":"GET"}}},"branches":{"type":"object","properties":{"href":{"type":"string","example":"/institution/branches"},"method":{"type":"string","example":"GET"}}},"fees":{"type":"object","properties":{"href":{"type":"string","example":"/institution/fees"},"method":{"type":"string","example":"GET"}}},"offers":{"type":"object","properties":{"href":{"type":"string","example":"/institution/offers"},"method":{"type":"string","example":"GET"}}},"products":{"type":"object","properties":{"href":{"type":"string","example":"/institution/products"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}}}},"FXs":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs/{targetCurrency}"},"method":{"type":"string","example":"GET"}}}}},"OTP":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}}}},"SOSP":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"beneficiary":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/beneficiaries/{beneficiaryId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/SOSPs/{SOSPId}"},"method":{"type":"string","example":"GET"}}}}},"SSTs":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/SSTs/{sstId}"},"method":{"type":"string","example":"GET"}}}}},"accounts":{"type":"object","properties":{"CAF":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/CAF"},"method":{"type":"string","example":"POST"}}},"SOSPs":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/SOSPs"},"method":{"type":"string","example":"GET"}}},"balances":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/balances"},"method":{"type":"string","example":"GET"}}},"beneficiaries":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/beneficiaries"},"method":{"type":"string","example":"GET"}}},"branch":{"type":"object","properties":{"href":{"type":"string","example":"institution/branches/{branchId}"},"method":{"type":"string","example":"POST"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"offers":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/offers"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"transactions":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/transactions"},"method":{"type":"string","example":"GET"}}}}},"balances":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/balances"},"method":{"type":"string","example":"GET"}}}}},"beneficiaries":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/beneficiaries/{beneficiaryId}"},"method":{"type":"string","example":"GET"}}}}},"branches":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/branches/{branchId}"},"method":{"type":"string","example":"GET"}}}}},"offers":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"product":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/products/{productId}"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/offers/{offerId}"},"method":{"type":"string","example":"GET"}}}}},"offersPublic":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"product":{"type":"object","properties":{"href":{"type":"string","example":"/institution/products/{productId}"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/offers/{offerId}"},"method":{"type":"string","example":"GET"}}}}},"pagination":{"type":"object","properties":{"last":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the last page of resource"},"next":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the next page of resource"},"prev":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the previous page of resource"}}},"transactions":{"type":"object","properties":{"FXs":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs/{currency}"},"method":{"type":"string","example":"GET"}}},"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/transactions/{transactionId}"},"method":{"type":"string","example":"GET"}}}}}}}'
        error_unauthorized: |-
                {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.auth.invalid"},"desc":{"type":"string","example":"Invalid authentication credentials"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.header.missing"},"desc":{"type":"string","example":"Authentication header is missing. Please include the 'Authorization' header in your request."}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
        error_methodNotAllowed: '{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid"},"desc":{"type":"string","example":"The requested HTTP method is not allowed for this resource"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid.patch"},"desc":{"type":"string","example":"PATCH method is not supported for this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_notAcceptable: '{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"The requested content cannot be served in the specified format"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.content.unsupportedFormat"},"desc":{"type":"string","example":"The requested format is not supported. Please specify a different format"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_tooManyRequests: |-
                {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The rate limit for requests has been exceeded"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
        error_unsupportedMediaType: |-
                {"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding"},"desc":{"type":"string","example":"The requested media encoding is not supported"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding.appXml"},"desc":{"type":"string","example":"The requested format 'application/xml' is not supported"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
securitySchemes: 
    - 
        httpBasicAuth: 
            type: Basic Authentication
            describedBy: 
                headers: 
                    Authorization: 
                        type: string
                        required: false
                        repeat: false
        apiKey: 
            type: x-apiKey
            describedBy: 
                headers: 
                    Authorization: 
                        type: string
                        required: false
                        repeat: false
securedBy: 
    - 
        apiKey
    - 
        httpBasicAuth
/accounts/{accountId}/balances: 
    displayName: /accounts/{accountId}/balances
    get: 
        description: retrieve a list of balances
        headers: 
            Authorization: 
                description: Authorization header in which the token is placed
                type: string
                required: true
                repeat: false
            x-jws-signature: 
                description: JWS Signature, refer to security reference
                type: string
                required: true
                repeat: false
            x-customer-id: 
                description: Unique id for the User
                type: string
                required: false
                repeat: false
            x-customer-user-agent: 
                description: Indicates the user-agent the User is using. Helps protecting from comprimised devices
                type: string
                required: false
                repeat: false
            x-financial-id: 
                description: Unique id for the Financial Institution; BIC or Pseudo-BIC code of the sender
                type: string
                required: false
                repeat: false
            x-customer-ip-address: 
                description: The User's IP address if the user is currently logged in with the TPP
                type: string
                required: false
                repeat: false
            x-auth-date: 
                description: Date and time of the last authentication of the User by the TPP
                type: string
                required: false
                repeat: false
            x-interactions-id: 
                description: Unique id for the interaction, used in all request and responses that are related
                type: string
                required: true
                repeat: false
            x-idempotency-key: 
                description: Unique id that is generated for each request and response. Used for tracking and to check for duplicate calls
                type: string
                required: true
                repeat: false
        responses: 
            "200": 
                description: successful
                body: 
                    application/json: 
                        schema: balances
                        example: '{"availableBalance":{"amount":25.001,"balancePosition":"credit"},"currentBalance":{"amount":25.001,"balancePosition":"credit"},"creditlimit":25.001,"balanceCurrency":"JOD","lastModificationDate":"2006-09-15T10:30:00Z","_links":{"self":{"href":"/accounts/{accountId}/balances","method":"GET"},"account":{"href":"/accounts/{accountId}","method":"GET"},"institution":{"href":"/institution","method":"GET"}}}'
            "400": 
                description: "400 Bad Request"
                body: 
                    application/json: 
                        schema: error_badRequest
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.request.invalid","desc":"Invalid request parameters","errors":[{"code":"http.headers.invalid","desc":"Required header x-interactions-id is missing"}]}'
            "401": 
                description: "401 Unauthorized"
                body: 
                    application/json: 
                        schema: error_unauthorized
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.invalid","desc":"Invalid authentication credentials","errors":[{"code":"http.auth.header.missing","desc":"Authentication header is missing. Please include the 'Authorization' header in your request."}]}
            "500": 
                description: "500 Internal Service Error"
                body: 
                    application/json: 
                        schema: error_internalServerError
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.error","desc":"An internal server error occurred","errors":[{"code":"server.error.database","desc":"Error accessing the database. Please contact the development support team or try again later"}]}'
            "403": 
                description: "403 Forbidden"
                body: 
                    application/json: 
                        schema: error_forbidden
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.forbidden","desc":"Insufficient privileges. Access to the requested resource is forbidden","errors":[{"code":"http.auth.role.insufficient","desc":"You do not have the necessary permissions to access this resource"}]}'
            "404": 
                description: "404 Not Found"
                body: 
                    application/json: 
                        schema: error_notFound
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"resource.notFound","desc":"The requested resource could not be found","errors":[{"code":"http.url.invalid.endpoint","desc":"The requested endpoint is not valid. Please check the url and try again"}]}'
            "415": 
                description: "415 Unsupported Media Type"
                body: 
                    application/json: 
                        schema: error_unsupportedMediaType
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"media.unsupportedEncoding","desc":"The requested media encoding is not supported","errors":[{"code":"media.unsupportedEncoding.appXml","desc":"The requested format 'application/xml' is not supported"}]}
            "503": 
                description: "503 Service Unavailable"
                body: 
                    application/json: 
                        schema: error_serviceUnavailable
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.service.error","desc":"The requested service is currently unavailable","errors":[{"code":"server.service.maintenance","desc":"The service is temporarily down for maintenance. Please try again later"}]}'
            "405": 
                description: "405 Method Not Allowed"
                body: 
                    application/json: 
                        schema: error_methodNotAllowed
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.method.invalid","desc":"The requested HTTP method is not allowed for this resource","errors":[{"code":"http.method.invalid.patch","desc":"PATCH method is not supported for this resource"}]}'
            "406": 
                description: "406 Not Acceptable"
                body: 
                    application/json: 
                        schema: error_notAcceptable
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.headers.invalid\"","desc":"The requested content cannot be served in the specified format","errors":[{"code":"http.content.unsupportedFormat","desc":"The requested format is not supported. Please specify a different format"}]}
            "429": 
                description: "429 Too Many Requests"
                body: 
                    application/json: 
                        schema: error_tooManyRequests
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"rateLimit.exceeded","desc":"The rate limit for requests has been exceeded","errors":[{"code":"rateLimit.exceeded","desc":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}]}
        baseUriParameters: 
            accountId: 
                description: Account id of the user
                type: string
                required: true
                repeat: false
documentation: 
    - 
        title: API Description
        content: |
            This service allows the retrieval of account balance information for a specific customer, and it can be used to retrieve information related to a customer's account balance.
            
            ![JOF1](https://www.jopacc.com/sites/default/files/2023-12/jpc-internal-jof-banner.png)
            
            ---
            
            **_This is the initial draft of the Jordan Open Finance specification_**
            
            The services in this Open API specification are Direct-Call Services (DCS). These services can be accessed by direct calls to the banks or by using an aggregator central hub such as JoPACC. However, the URLs and routes for these services are designed for direct-calls only.
            
            - For the Open API specification of the aggregated services, refer to the Aggregator Services specification.
            
            Services in Jordan Open Finance Specification (JOF) are divided into 4 categories based on their content and nature of consent.
            
            # **Account Information Services (AIS)**
            
            This category covers services that are related to customers' financial accounts.This category has two sub-categories:
            
            1. **MY AIS**: Services that allow an account holder to view their own information. For a TPP to retrieve this information, they require the consent of the user.
            
            2. **Others AIS**: Services that enable a TPP to view the account information of a user who is not their customer and who hasn't initiated the request. These services require the user whose information is being retrieved to have consented, such as the IBAN Confirmation service.
            
            The Balance service is one of the AIS services and it provides detailed information about the user accounts balance.
            
            ### **Overview**
            
            ---
            The **Balance** service helps customers check their account balance. It provides details like current balance, available balance, and other related information accurately and promptly. This service ensures that customers receive precise and up-to-date balance information.
            
            
            #### **Balance Service**
            
            **1. Get balance information**
            
            ### **Endpoint**
            
            ---
            
            ### **GET /accounts/{accountId}/balances**
            
            #### **Get balance information:** This service allows the retrieval of a balance for a specific account by providing the account id.
            
            |     | Resource | Method | EndPoint                      |
            | --- | -------- | ------ | ----------------------------- |
            | 1   | balances | GET    | accounts/{accountId}/balances |
            
            ### **Parameters**
            
            ---
            
            The table below outlines the inputs or configurations required for invoking the service.
            
            |     | ParameterName | Required/Optional | Description            |
            | --- | ------------- | ----------------- | ---------------------- |
            | 1   | accountId     | Required          | Account id of the user |
            
            ### **Headers**
            
            ---
            
            The table below lists the HTTP headers that can be included in requests to provide additional information or configuration.
            
            |     | HeaderName            | Required/Optional | Description                                                                                                                                                                                           |
            | --- | --------------------- | ----------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
            | 1   | Authorization         | Required          | This header typically carries credentials, such as tokens or keys, allowing the server to authenticate the client's request and determine whether it has permission to access the requested resource. |
            | 2   | x-interactions-id     | Required          | This header is not a standard HTTP header, but it is used as a unique id for the interaction, used in all requests and responses that are related                                                     |
            | 3   | x-idempotency-key     | Required          | A unique identifier used to ensure idempotent API requests, preventing duplicate actions when the same request is made multiple times.                                                                |
            | 4   | x-financial-id        | Optional          | A custom header potentially used in financial APIs to convey specific transaction or account identifiers.                                                                                             |
            | 5   | x-jws-signature       | Required          | A custom header indicating the presence of a JSON Web Signature (JWS) for verifying the authenticity and integrity of API requests.                                                                   |
            | 6   | x-auth-date           | Optional          | A custom header used to indicate the date and time of authentication in API requests for security and audit trail purposes.                                                                           |
            | 7   | x-customer-id         | Optional          | A custom header containing the unique identifier of the user associated with the API request.                                                                                                         |
            | 8   | x-customer-ip-address | Optional          | A custom header providing the IP address of the user making the API request for tracking or authentication purposes.                                                                                  |
            | 9   | x-customer-user-agent | Optional          | A custom header indicating the user-agent string of the customer's browser or client application making the API request.                                                                              |
            
            ## **UML Diagram**
            
            ---
            
            ![BalancesUML](https://www.jopacc.com/sites/default/files/2024-05/balances_fjdrw3.png)
            
            ### **Data Dictionary**
            
            ---
            
            The table below represents the API service fields and serves as a comprehensive reference detailing the meaning, format, and usage of each field, ensuring a consistent understanding of the service.
            
            | #   | Field                | Data Type           | JSON Path            | Description                              |
            | --- | -------------------- | ------------------- | -------------------- | ---------------------------------------- |
            | 1   | getAccountBalance    | N/A                 | N/A                  | Retrieve account balance                 |
            | 2   | balance              | N/A                 | N/A                  | Overall account balance                  |
            | 3   | availableBalance     | object(ComplexType) | availableBalance     | Current available balance                |
            | 4   | currentBalance       | object(ComplexType) | currentBalance       | Current total balance                    |
            | 5   | creditlimit          | object              | creditlimit          | Maximum credit allowed                   |
            | 6   | balanceCurrency      | enum                | balanceCurrency      | Currency of the balance                  |
            | 7   | lastModificationDate | string              | lastModificationDate | Date of last balance update              |
            | 8   | \_links              | object              | \_links              | Contains Hyperlinks to related resources |
            | 9   | self                 | object(ComplexType) | \_links.self         | Link to current resource                 |
            | 10  | account              | object(ComplexType) | \_links.account      | Link to account details                  |
            | 11  | institution          | object(ComplexType) | \_links.institution  | Link to institution details              |
            
            ### **Complex Types Dictionary**
            
            ---
            
            The tables below represent a structured overview of composite data structures utilized within the API, detailing their constituent attributes and relationships.
            
            #### **balanceComplexType**
            
            | Info.           |                                               |
            | --------------- | --------------------------------------------- |
            | **Description** | A complex type representing a balance.        |
            | **Used in**     | **1.** availableBalance **2.** currentBalance |
            | **JSON Path**   | **1.** availableBalance **2.** currentBalance |
            
            #####
            
            ##### **_balanceComplexType in details_**
            
            | \*  | **Field**       | Data Type | **JSON Path**                    | **Description**                                       |
            | --- | --------------- | --------- | -------------------------------- | ----------------------------------------------------- |
            | 1   | balanceAmount   | number    | availableBalance.balanceAmount   | The numerical value of the available balance amount.  |
            |     |                 |           | currentBalance.balanceAmount     | The numerical value of the current balance amount.    |
            | 2   | balancePosition | string    | availableBalance.balancePosition | The position of the available balance (e.g., credit). |
            |     |                 |           | currentBalance.balancePosition   | The position of the current balance (e.g., credit).   |
            
            #
            
            ---
            
            #### **\_linksComplexType**
            
            | Info.           |                                                            |
            | --------------- | ---------------------------------------------------------- |
            | **Description** | A complex type representing the related links information. |
            | **Used in**     | \_links.\*                                                 |
            | **JSON Path**   | \_links.\*                                                 |
            
            #####
            
            ##### **_\_linksComplexType in details_**
            
            | \*  | **Field** | Data Type | **JSON Path**      | **Description**                                         |
            | --- | --------- | --------- | ------------------ | ------------------------------------------------------- |
            | 1   | href      | string    | /\_links.\*.href   | The hyperlink reference for a related service resource. |
            | 2   | method    | string    | /\_links.\*.method | The HTTP method for the associated href                 |
            
            The Central Bank of Jordan has classified Open Finance consent into Account Information consent and Payment Initiation consent. The above categories are based on the CBJ's classifications and divide them further for the user's convenience.
            
            Some useful links:
            
            - [About JoPACC](https://jopacc.com)
              This header typically carries credentials, such as tokens or keys, allowing the server to authenticate the client's request and determine whether it has permission to access the requested resource.
