#%RAML 0.8
title: Beneficiaries
version: v0.4.3
baseUri: "https://jpcjofsdev.apigw-az-eu.webmethods.io/gateway/Beneficiaries/v0.4.3"
protocols: [HTTPS]
schemas: 
    - 
        error_internalServerError: '{"type":"object","properties":{"code":{"type":"string","example":"server.error"},"desc":{"type":"string","example":"An internal server error occurred"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.error.database"},"desc":{"type":"string","example":"Error accessing the database. Please contact the development support team or try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        routeComplexType: '{"required":["address","schema"],"type":"object","properties":{"address":{"type":"string","format":"str","example":"JO27CBJO0010000000000000000001"},"schema":{"type":"string","format":"str","example":"IBAN"}}}'
        amountComplexType: '{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","format":"float(4 decimals)","example":"25.001"},"currency":{"type":"string","format":"ISO 4217","example":"JOD"}}}'
        error_forbidden: '{"type":"object","properties":{"code":{"type":"string","example":"http.auth.forbidden"},"desc":{"type":"string","example":"Insufficient privileges. Access to the requested resource is forbidden"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.role.insufficient"},"desc":{"type":"string","example":"You do not have the necessary permissions to access this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_notFound: '{"type":"object","properties":{"code":{"type":"string","example":"resource.notFound"},"desc":{"type":"string","example":"The requested resource could not be found"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.url.invalid.endpoint"},"desc":{"type":"string","example":"The requested endpoint is not valid. Please check the url and try again"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        institutionBasicInfoComplexType: '{"required":["institutionIdentification","institutionType","name"],"type":"object","properties":{"institutionIdentification":{"type":"object","properties":{"address":{"type":"string","example":"JORDJOA0"},"schema":{"type":"string","example":"bicCode"}}},"institutionPhoneNumber":{"type":"string","format":"E.164","example":"+962761231234"},"institutionType":{"type":"string","format":"str","example":"BANK"},"name":{"type":"object","$ref":"#/definitions/nameComplexType"}}}'
        error_serviceUnavailable: '{"type":"object","properties":{"code":{"type":"string","example":"server.service.error"},"desc":{"type":"string","example":"The requested service is currently unavailable"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.service.maintenance"},"desc":{"type":"string","example":"The service is temporarily down for maintenance. Please try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        phoneNumber: '{"type":"string","format":"E.164","example":"+962761231234"}'
        beneficiary: '{"required":["accountBasicInfo","beneficiaryId","beneficiaryType"],"type":"object","properties":{"_links":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"//accounts/{accountId}/beneficiaries/{beneficiaryId}"},"method":{"type":"string","example":"GET"}}}}},"accountBasicInfo":{"required":["accountId","mainRoute"],"type":"object","properties":{"accountId":{"type":"string","format":"str","example":"str123"},"mainRoute":{"required":["address","schema"],"type":"object","properties":{"address":{"type":"string","format":"str","example":"JO27CBJO0010000000000000000001"},"schema":{"type":"string","format":"str","example":"IBAN"}}}}},"beneficiaryId":{"type":"string","format":"str","example":"str123"},"beneficiaryName":{"required":["enName"],"type":"object","properties":{"arName":{"type":"string","format":"str"},"enName":{"type":"string","format":"str"},"tradeName":{"required":["enName"],"type":"object","properties":{"arName":{"type":"string","format":"str"},"enName":{"type":"string","format":"str"}}}}},"beneficiaryNickname":{"type":"string","format":"str","example":"SWG charity account"},"beneficiaryType":{"type":"string","format":"str","example":"charity"},"endToEnd":{"type":"string","format":"str","example":"str123"},"institutionBasicInfo":{"required":["institutionIdentification","institutionType","name"],"type":"object","properties":{"institutionIdentification":{"type":"object","properties":{"address":{"type":"string","example":"JORDJOA0"},"schema":{"type":"string","example":"bicCode"}}},"institutionPhoneNumber":{"type":"string","format":"E.164","example":"+962761231234"},"institutionType":{"type":"string","format":"str","example":"BANK"},"name":{"required":["enName"],"type":"object","properties":{"arName":{"type":"string","format":"str"},"enName":{"type":"string","format":"str"},"tradeName":{"type":"object","properties":{"arName":{"type":"string","format":"str"},"enName":{"type":"string","format":"str"}}}}}}},"notes":{"type":"string","example":"free text"},"routings":{"type":"array","items":{"required":["address","schema"],"type":"object","properties":{"address":{"type":"string","format":"str","example":"JO27CBJO0010000000000000000001"},"schema":{"type":"string","format":"str","example":"IBAN"}}}}}}'
        errorBody: '{"type":"object","properties":{"code":{"type":"string","description":"High-level error code","example":"path.subPath"},"desc":{"type":"string","description":"Descriptive message of the error","example":"High-level description of the error"},"errors":{"type":"array","description":"List of specific errors. Used to display multiple errors if more than one exist","items":{"type":"object","properties":{"code":{"type":"string","description":"Specific error code","example":"specificPath.specificSubPath"},"desc":{"type":"string","description":"Descriptive message of the specific error","example":"Specific description of this error object"}}}},"id":{"type":"string","description":"Unique identifier for the error response. Used for logging and tracking errors","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_badRequest: '{"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.request.invalid"},"desc":{"type":"string","example":"Invalid request parameters"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"Required header x-interactions-id is missing"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        nameComplexType: '{"type":"composed","properties":{"tradeName":{"type":"object","$ref":"#/definitions/name"}},"allOf":[{"type":"object","$ref":"#/definitions/name"},{"type":"object"}]}'
        accountBasicInfoComplexType: '{"required":["accountId","mainRoute"],"type":"object","properties":{"accountId":{"type":"string","format":"str","example":"str123"},"mainRoute":{"type":"object","$ref":"#/definitions/routeComplexType"}}}'
        name: '{"required":["enName"],"type":"object","properties":{"arName":{"type":"string","format":"str"},"enName":{"type":"string","format":"str"}}}'
        links: '{"type":"object","properties":{"CAF":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}}}},"FI":{"type":"object","properties":{"FXs":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs"},"method":{"type":"string","example":"GET"}}},"SSTs":{"type":"object","properties":{"href":{"type":"string","example":"/institution/SSTs"},"method":{"type":"string","example":"GET"}}},"branches":{"type":"object","properties":{"href":{"type":"string","example":"/institution/branches"},"method":{"type":"string","example":"GET"}}},"fees":{"type":"object","properties":{"href":{"type":"string","example":"/institution/fees"},"method":{"type":"string","example":"GET"}}},"offers":{"type":"object","properties":{"href":{"type":"string","example":"/institution/offers"},"method":{"type":"string","example":"GET"}}},"products":{"type":"object","properties":{"href":{"type":"string","example":"/institution/products"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}}}},"FXs":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs/{targetCurrency}"},"method":{"type":"string","example":"GET"}}}}},"OTP":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}}}},"SOSP":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"beneficiary":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/beneficiaries/{beneficiaryId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/SOSPs/{SOSPId}"},"method":{"type":"string","example":"GET"}}}}},"SSTs":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/SSTs/{sstId}"},"method":{"type":"string","example":"GET"}}}}},"accounts":{"type":"object","properties":{"CAF":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/CAF"},"method":{"type":"string","example":"POST"}}},"SOSPs":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/SOSPs"},"method":{"type":"string","example":"GET"}}},"balances":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/balances"},"method":{"type":"string","example":"GET"}}},"beneficiaries":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/beneficiaries"},"method":{"type":"string","example":"GET"}}},"branch":{"type":"object","properties":{"href":{"type":"string","example":"institution/branches/{branchId}"},"method":{"type":"string","example":"POST"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"offers":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/offers"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"transactions":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/transactions"},"method":{"type":"string","example":"GET"}}}}},"balances":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/balances"},"method":{"type":"string","example":"GET"}}}}},"beneficiaries":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/beneficiaries/{beneficiaryId}"},"method":{"type":"string","example":"GET"}}}}},"branches":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/branches/{branchId}"},"method":{"type":"string","example":"GET"}}}}},"offers":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"product":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/products/{productId}"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/offers/{offerId}"},"method":{"type":"string","example":"GET"}}}}},"offersPublic":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"product":{"type":"object","properties":{"href":{"type":"string","example":"/institution/products/{productId}"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/offers/{offerId}"},"method":{"type":"string","example":"GET"}}}}},"pagination":{"type":"object","properties":{"last":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the last page of resource"},"next":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the next page of resource"},"prev":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the previous page of resource"}}},"transactions":{"type":"object","properties":{"FXs":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs/{currency}"},"method":{"type":"string","example":"GET"}}},"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/transactions/{transactionId}"},"method":{"type":"string","example":"GET"}}}}}}}'
        error_unauthorized: |-
                {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.auth.invalid"},"desc":{"type":"string","example":"Invalid authentication credentials"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.header.missing"},"desc":{"type":"string","example":"Authentication header is missing. Please include the 'Authorization' header in your request."}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
        beneficiaries: '{"type":"object","properties":{"_links":{"type":"object","properties":{"last":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the last page of resource"},"next":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the next page of resource"},"prev":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the previous page of resource"}}},"data":{"type":"array","format":"string","items":{"type":"object","$ref":"#/definitions/beneficiary"}}}}'
        error_methodNotAllowed: '{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid"},"desc":{"type":"string","example":"The requested HTTP method is not allowed for this resource"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid.patch"},"desc":{"type":"string","example":"PATCH method is not supported for this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_notAcceptable: '{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"The requested content cannot be served in the specified format"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.content.unsupportedFormat"},"desc":{"type":"string","example":"The requested format is not supported. Please specify a different format"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_tooManyRequests: |-
                {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The rate limit for requests has been exceeded"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
        error_unsupportedMediaType: |-
                {"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding"},"desc":{"type":"string","example":"The requested media encoding is not supported"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding.appXml"},"desc":{"type":"string","example":"The requested format 'application/xml' is not supported"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
        routingsComplexType: '{"type":"array","items":{"type":"composed","properties":{"address":{"type":"object","example":"HSM"},"schema":{"type":"object","example":"CLIQ"}},"allOf":[{"type":"object","$ref":"#/definitions/routeComplexType"},{"type":"object"}]}}'
securitySchemes: 
    - 
        httpBasicAuth: 
            type: Basic Authentication
            describedBy: 
                headers: 
                    Authorization: 
                        type: string
                        required: false
                        repeat: false
        apiKey: 
            type: x-apiKey
            describedBy: 
                headers: 
                    Authorization: 
                        type: string
                        required: false
                        repeat: false
securedBy: 
    - 
        apiKey
    - 
        httpBasicAuth
/accounts/{accountId}/beneficiaries: 
    displayName: /accounts/{accountId}/beneficiaries
    get: 
        description: retrieve a list of beneficiaries
        headers: 
            Authorization: 
                description: Authorization header in which the token is placed
                type: string
                required: true
                repeat: false
            x-jws-signature: 
                description: JWS Signature, refer to security reference
                type: string
                required: true
                repeat: false
            x-customer-id: 
                description: Unique id for the User
                type: string
                required: false
                repeat: false
            x-customer-user-agent: 
                description: Indicates the user-agent the User is using. Helps protecting from comprimised devices
                type: string
                required: false
                repeat: false
            x-financial-id: 
                description: Unique id for the Financial Institution; BIC or Pseudo-BIC code of the sender
                type: string
                required: false
                repeat: false
            x-customer-ip-address: 
                description: The User's IP address if the user is currently logged in with the TPP
                type: string
                required: false
                repeat: false
            x-auth-date: 
                description: Date and time of the last authentication of the User by the TPP
                type: string
                required: false
                repeat: false
            x-interactions-id: 
                description: Unique id for the interaction, used in all request and responses that are related
                type: string
                required: true
                repeat: false
            x-idempotency-key: 
                description: Unique id that is generated for each request and response. Used for tracking and to check for duplicate calls
                type: string
                required: true
                repeat: false
        queryParameters: 
            beneficiaryType: 
                description: Beneficiary Type to inquire about
                type: string
                required: false
                repeat: false
            limit: 
                description: The maximum number of resources to return in the response. Used for pagination
                type: integer
                required: false
                repeat: false
                minimum: 1
                maximum: 1E+2
                default: 10
            skip: 
                description: The number of resources to skip showing in this response. Used for pagination
                type: integer
                required: false
                repeat: false
                default: 0
            sort: 
                description: Sorting the response by creation date of the resources (ascending or descending)
                type: string
                required: false
                repeat: false
                enum: [asc, desc]
                default: desc
        responses: 
            "200": 
                description: successful
                body: 
                    application/json: 
                        schema: beneficiaries
                        example: '{"data":[{"beneficiaryId":"str123","beneficiarytype":"charity","beneficiaryName":{"enName":"string","arName":"string","tradeName":{"enName":"string","arName":"string"}},"beneficiaryNickname":"SWG charity account","accountBasicInfo":{"accountId":"str123","mainRoute":{"schema":"IBAN","address":"JO27CBJO0010000000000000000001"}},"routings":[{"schema":"IBAN","address":"JO27CBJO0010000000000000000001"}],"endToEnd":"str123","notes":"free text","institutionBasicInfo":{"institutionType":"BANK","institutionIdentification":{"schema":"bicCode","address":"JORDJOA0"},"name":{"enName":"string","arName":"string","tradeName":{"enName":"string","arName":"string"}},"institutionPhoneNumber":"+962761231234"},"_links":{"self":{"href":"/accounts/{accountId}/beneficiaries/{beneficiaryId}","method":"GET"},"account":{"href":"/accounts/{accountId}","method":"GET"},"institution":{"href":"/institution","method":"GET"}}}],"links":{"next":{"href":"/{route}/{resource}?skip={X}&limit={Y}","method":"GET"},"prev":{"href":"/{route}/{resource}?skip={X}&limit={Y}","method":"GET"},"last":{"href":"/{route}/{resource}?skip={X}&limit={Y}","method":"GET"}}}'
            "400": 
                description: "400 Bad Request"
                body: 
                    application/json: 
                        schema: error_badRequest
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.request.invalid","desc":"Invalid request parameters","errors":[{"code":"http.headers.invalid","desc":"Required header x-interactions-id is missing"}]}'
            "401": 
                description: "401 Unauthorized"
                body: 
                    application/json: 
                        schema: error_unauthorized
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.invalid","desc":"Invalid authentication credentials","errors":[{"code":"http.auth.header.missing","desc":"Authentication header is missing. Please include the 'Authorization' header in your request."}]}
            "500": 
                description: "500 Internal Service Error"
                body: 
                    application/json: 
                        schema: error_internalServerError
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.error","desc":"An internal server error occurred","errors":[{"code":"server.error.database","desc":"Error accessing the database. Please contact the development support team or try again later"}]}'
            "403": 
                description: "403 Forbidden"
                body: 
                    application/json: 
                        schema: error_forbidden
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.forbidden","desc":"Insufficient privileges. Access to the requested resource is forbidden","errors":[{"code":"http.auth.role.insufficient","desc":"You do not have the necessary permissions to access this resource"}]}'
            "404": 
                description: "404 Not Found"
                body: 
                    application/json: 
                        schema: error_notFound
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"resource.notFound","desc":"The requested resource could not be found","errors":[{"code":"http.url.invalid.endpoint","desc":"The requested endpoint is not valid. Please check the url and try again"}]}'
            "415": 
                description: "415 Unsupported Media Type"
                body: 
                    application/json: 
                        schema: error_unsupportedMediaType
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"media.unsupportedEncoding","desc":"The requested media encoding is not supported","errors":[{"code":"media.unsupportedEncoding.appXml","desc":"The requested format 'application/xml' is not supported"}]}
            "503": 
                description: "503 Service Unavailable"
                body: 
                    application/json: 
                        schema: error_serviceUnavailable
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.service.error","desc":"The requested service is currently unavailable","errors":[{"code":"server.service.maintenance","desc":"The service is temporarily down for maintenance. Please try again later"}]}'
            "405": 
                description: "405 Method Not Allowed"
                body: 
                    application/json: 
                        schema: error_methodNotAllowed
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.method.invalid","desc":"The requested HTTP method is not allowed for this resource","errors":[{"code":"http.method.invalid.patch","desc":"PATCH method is not supported for this resource"}]}'
            "406": 
                description: "406 Not Acceptable"
                body: 
                    application/json: 
                        schema: error_notAcceptable
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.headers.invalid\"","desc":"The requested content cannot be served in the specified format","errors":[{"code":"http.content.unsupportedFormat","desc":"The requested format is not supported. Please specify a different format"}]}
            "429": 
                description: "429 Too Many Requests"
                body: 
                    application/json: 
                        schema: error_tooManyRequests
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"rateLimit.exceeded","desc":"The rate limit for requests has been exceeded","errors":[{"code":"rateLimit.exceeded","desc":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}]}
        baseUriParameters: 
            accountId: 
                description: Account id of the user
                type: string
                required: true
                repeat: false
    /{beneficiaryId}: 
        displayName: /accounts/{accountId}/beneficiaries/{beneficiaryId}
        get: 
            description: retrieve beneficiary data
            headers: 
                Authorization: 
                    description: Authorization header in which the token is placed
                    type: string
                    required: true
                    repeat: false
                x-jws-signature: 
                    description: JWS Signature, refer to security reference
                    type: string
                    required: true
                    repeat: false
                x-customer-id: 
                    description: Unique id for the User
                    type: string
                    required: false
                    repeat: false
                x-customer-user-agent: 
                    description: Indicates the user-agent the User is using. Helps protecting from comprimised devices
                    type: string
                    required: false
                    repeat: false
                x-financial-id: 
                    description: Unique id for the Financial Institution; BIC or Pseudo-BIC code of the sender
                    type: string
                    required: false
                    repeat: false
                x-customer-ip-address: 
                    description: The User's IP address if the user is currently logged in with the TPP
                    type: string
                    required: false
                    repeat: false
                x-auth-date: 
                    description: Date and time of the last authentication of the User by the TPP
                    type: string
                    required: false
                    repeat: false
                x-interactions-id: 
                    description: Unique id for the interaction, used in all request and responses that are related
                    type: string
                    required: true
                    repeat: false
                x-idempotency-key: 
                    description: Unique id that is generated for each request and response. Used for tracking and to check for duplicate calls
                    type: string
                    required: true
                    repeat: false
            responses: 
                "200": 
                    description: successful
                    body: 
                        application/json: 
                            schema: beneficiary
                            example: '{"beneficiaryId":"str123","beneficiarytype":"charity","beneficiaryName":{"enName":"string","arName":"string","tradeName":{"enName":"string","arName":"string"}},"beneficiaryNickname":"SWG charity account","accountBasicInfo":{"accountId":"str123","mainRoute":{"schema":"IBAN","address":"JO27CBJO0010000000000000000001"}},"routings":[{"schema":"IBAN","address":"JO27CBJO0010000000000000000001"}],"endToEnd":"str123","notes":"free text","institutionBasicInfo":{"institutionType":"BANK","institutionIdentification":{"schema":"bicCode","address":"JORDJOA0"},"name":{"enName":"string","arName":"string","tradeName":{"enName":"string","arName":"string"}},"institutionPhoneNumber":"+962761231234"},"_links":{"self":{"href":"/accounts/{accountId}/beneficiaries/{beneficiaryId}","method":"GET"},"account":{"href":"/accounts/{accountId}","method":"GET"},"institution":{"href":"/institution","method":"GET"}}}'
                "400": 
                    description: "400 Bad Request"
                    body: 
                        application/json: 
                            schema: error_badRequest
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.request.invalid","desc":"Invalid request parameters","errors":[{"code":"http.headers.invalid","desc":"Required header x-interactions-id is missing"}]}'
                "401": 
                    description: "401 Unauthorized"
                    body: 
                        application/json: 
                            schema: error_unauthorized
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.invalid","desc":"Invalid authentication credentials","errors":[{"code":"http.auth.header.missing","desc":"Authentication header is missing. Please include the 'Authorization' header in your request."}]}
                "500": 
                    description: "500 Internal Service Error"
                    body: 
                        application/json: 
                            schema: error_internalServerError
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.error","desc":"An internal server error occurred","errors":[{"code":"server.error.database","desc":"Error accessing the database. Please contact the development support team or try again later"}]}'
                "403": 
                    description: "403 Forbidden"
                    body: 
                        application/json: 
                            schema: error_forbidden
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.forbidden","desc":"Insufficient privileges. Access to the requested resource is forbidden","errors":[{"code":"http.auth.role.insufficient","desc":"You do not have the necessary permissions to access this resource"}]}'
                "404": 
                    description: "404 Not Found"
                    body: 
                        application/json: 
                            schema: error_notFound
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"resource.notFound","desc":"The requested resource could not be found","errors":[{"code":"http.url.invalid.endpoint","desc":"The requested endpoint is not valid. Please check the url and try again"}]}'
                "415": 
                    description: "415 Unsupported Media Type"
                    body: 
                        application/json: 
                            schema: error_unsupportedMediaType
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"media.unsupportedEncoding","desc":"The requested media encoding is not supported","errors":[{"code":"media.unsupportedEncoding.appXml","desc":"The requested format 'application/xml' is not supported"}]}
                "503": 
                    description: "503 Service Unavailable"
                    body: 
                        application/json: 
                            schema: error_serviceUnavailable
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.service.error","desc":"The requested service is currently unavailable","errors":[{"code":"server.service.maintenance","desc":"The service is temporarily down for maintenance. Please try again later"}]}'
                "405": 
                    description: "405 Method Not Allowed"
                    body: 
                        application/json: 
                            schema: error_methodNotAllowed
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.method.invalid","desc":"The requested HTTP method is not allowed for this resource","errors":[{"code":"http.method.invalid.patch","desc":"PATCH method is not supported for this resource"}]}'
                "406": 
                    description: "406 Not Acceptable"
                    body: 
                        application/json: 
                            schema: error_notAcceptable
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.headers.invalid\"","desc":"The requested content cannot be served in the specified format","errors":[{"code":"http.content.unsupportedFormat","desc":"The requested format is not supported. Please specify a different format"}]}
                "429": 
                    description: "429 Too Many Requests"
                    body: 
                        application/json: 
                            schema: error_tooManyRequests
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"rateLimit.exceeded","desc":"The rate limit for requests has been exceeded","errors":[{"code":"rateLimit.exceeded","desc":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}]}
            baseUriParameters: 
                accountId: 
                    description: Account id of the user
                    type: string
                    required: true
                    repeat: false
                beneficiaryId: 
                    description: Beneficiary Id to inquire about
                    type: string
                    required: true
                    repeat: false
documentation: 
    - 
        title: API Description
        content: |
            This service retrieves information about a customer's beneficiaries, such as their name, account details, and other relevant information.
            
            ![JOF1](https://www.jopacc.com/sites/default/files/2023-12/jpc-internal-jof-banner.png)
            
            ---
            
            **_This is the initial draft of the Jordan Open Finance specification_**
            
            The services in this Open API specification are Direct-Call Services (DCS). These services can be accessed by direct calls to the banks or by using an aggregator central hub such as JoPACC. However, the URLs and routes for these services are designed for direct-calls only.
            
            - For the Open API specification of the aggregated services, refer to the Aggregator Services specification.
            
            Services in Jordan Open Finance Specification (JOF) are divided into 4 categories based on their content and nature of consent.
            
            # **Account Information Services (AIS)**
            
            This category covers services that are related to customers' financial accounts.This category has two sub-categories:
            
            1. **MY AIS**: Services that allow an account holder to view their own information. For a TPP to retrieve this information, they require the consent of the user.
            
            2. **Others AIS**: Services that enable a TPP to view the account information of a user who is not their customer and who hasn't initiated the request. These services require the user whose information is being retrieved to have consented, such as the IBAN Confirmation service.
            
            The Beneficiary service is one of the AIS services, and it provides detailed information about a customer's beneficiaries.
            
            ### **Overview**
            
            ---
            
            The **Beneficiary** service allows customers to access information about their designated beneficiaries, including their names, account details, and other pertinent data. It offers a secure method for accessing and displaying beneficiary information within various applications, such as mobile banking apps or money transfer platforms. Additionally, it enables users to obtain a comprehensive list of all beneficiaries linked to their accounts or retrieve specific details about individual beneficiaries.
            
            
            #### **Beneficiary Services List**
            
            **1. Get beneficiaries information**
            
            **2. Get a specific beneficiary's information**
            
            ### **Endpoint**
            
            ---
            
            ### **GET /accounts/{accountId}/beneficiaries**
            
            #### **Get beneficiaries information:** This service allows the retrieval of information for all beneficiaries information for a specific account by providing the account Id.
            
            |     | Resource      | Method | EndPoint                            |
            | --- | ------------- | ------ | ----------------------------------- |
            | 1   | beneficiaries | GET    | /accounts/{accountId}/beneficiaries |
            
            ### **Parameters**
            
            ---
            
            The table below outlines the inputs or configurations required for invoking the service.
            
            |     | ParameterName   | Required/Optional | Description                                                                                                                                                                                                                                                                |
            | --- | --------------- | ----------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
            | 1   | accountId       | Required          | Account id of the user                                                                                                                                                                                                                                                     |
            | 2   | beneficiaryType | Optional          | Beneficiary Type to inquire about                                                                                                                                                                                                                                          |
            | 3   | Pagination      | Optional          | includes three main filters: **1. Skip:** The number of resources to skip showing in this response. **2. limit:** The maximum number of resources to return in the response. **3. sort:** Sorting the response by creation date of the resources (ascending or descending) |
            
            ### **Headers**
            
            ---
            
            The table below lists the HTTP headers that can be included in requests to provide additional information or configuration.
            
            |     | HeaderName            | Required/Optional | Description                                                                                                                                                                                           |
            | --- | --------------------- | ----------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
            | 1   | Authorization         | Required          | This header typically carries credentials, such as tokens or keys, allowing the server to authenticate the client's request and determine whether it has permission to access the requested resource. |
            | 2   | x-interactions-id     | Required          | This header is not a standard HTTP header, but it is used as a unique id for the interaction, used in all requests and responses that are related                                                     |
            | 3   | x-idempotency-key     | Required          | A unique identifier used to ensure idempotent API requests, preventing duplicate actions when the same request is made multiple times.                                                                |
            | 4   | x-financial-id        | Optional          | A custom header potentially used in financial APIs to convey specific transaction or account identifiers.                                                                                             |
            | 5   | x-jws-signature       | Required          | A custom header indicating the presence of a JSON Web Signature (JWS) for verifying the authenticity and integrity of API requests.                                                                   |
            | 6   | x-auth-date           | Optional          | A custom header used to indicate the date and time of authentication in API requests for security and audit trail purposes.                                                                           |
            | 7   | x-customer-id         | Optional          | A custom header containing the unique identifier of the user associated with the API request.                                                                                                         |
            | 8   | x-customer-ip-address | Optional          | A custom header providing the IP address of the user making the API request for tracking or authentication purposes.                                                                                  |
            | 9   | x-customer-user-agent | Optional          | A custom header indicating the user-agent string of the customer's browser or client application making the API request.                                                                              |
            
            ### **Endpoint**
            
            ---
            
            ### **GET /accounts/{accountId}/beneficiaries/{beneficiaryId}**
            
            **Get a specific beneficiary information for a specific account:** This service allows the retrieval of information for a specific beneficiary information for a specific account by providing the account ID and benefiricary ID.
            
            |     | Resource      | Method | EndPoint                                            |
            | --- | ------------- | ------ | --------------------------------------------------- |
            | 1   | beneficiaries | GET    | /accounts/{accountId}/beneficiaries/{beneficiaryId} |
            
            ### **Parameters**
            
            ---
            The table below outlines the inputs or configurations required for invoking the service.
            
            |     | ParameterName | Required/Optional | Description                     |
            | --- | ------------- | ----------------- | ------------------------------- |
            | 1   | accountId     | Required          | Account id of the user          |
            | 2   | beneficiaryId | Required          | Beneficiary Id to inquire about |
            
            ### **Headers**
            
            ---
            
            The table below lists the HTTP headers that can be included in requests to provide additional information or configuration.
            
            |     | HeaderName            | Required/Optional | Description                                                                                                                                                                                           |
            | --- | --------------------- | ----------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
            | 1   | Authorization         | Required          | This header typically carries credentials, such as tokens or keys, allowing the server to authenticate the client's request and determine whether it has permission to access the requested resource. |
            | 2   | x-interactions-id     | Required          | This header is not a standard HTTP header, but it is used as a unique id for the interaction, used in all requests and responses that are related                                                     |
            | 3   | x-idempotency-key     | Required          | A unique identifier used to ensure idempotent API requests, preventing duplicate actions when the same request is made multiple times.                                                                |
            | 4   | x-financial-id        | Optional          | A custom header potentially used in financial APIs to convey specific transaction or account identifiers.                                                                                             |
            | 5   | x-jws-signature       | Required          | A custom header indicating the presence of a JSON Web Signature (JWS) for verifying the authenticity and integrity of API requests.                                                                   |
            | 6   | x-auth-date           | Optional          | A custom header used to indicate the date and time of authentication in API requests for security and audit trail purposes.                                                                           |
            | 7   | x-customer-id         | Optional          | A custom header containing the unique identifier of the user associated with the API request.                                                                                                         |
            | 8   | x-customer-ip-address | Optional          | A custom header providing the IP address of the user making the API request for tracking or authentication purposes.                                                                                  |
            | 9   | x-customer-user-agent | Optional          | A custom header indicating the user-agent string of the customer's browser or client application making the API request.                                                                              |
            
            ## **UML Diagram**
            
            ---
            
            ![BeneficiaryUML](https://www.jopacc.com/sites/default/files/2024-05/beneficiaries_rxlbta.png)
            
            ### **Data Dictionary**
            
            ---
            
            The table below represents the API service fields and serves as a comprehensive reference detailing the meaning, format, and usage of each field, ensuring a consistent understanding of the service.
            
            | #   | Field                 | Data Type           | JSON Path                   | Description                                                                         |
            | --- | --------------------- | ------------------- | --------------------------- | ----------------------------------------------------------------------------------- |
            | 1   | getAccountBeneficiary | N/A                 | N/A                         | Method to retrieve beneficiary information.                                         |
            | 2   | data                  | array               | data                        | Contains an array of beneficiary objects.                                           |
            | 3   | beneficiary           | N/A                 | data[]                      | Represents an individual beneficiary object.                                        |
            | 4   | beneficiaryId         | string              | data[].beneficiaryId        | Unique identifier for the beneficiary.                                              |
            | 5   | beneficiaryType       | enum                | data[].beneficiaryType      | Type of beneficiary (e.g., charity, individual).                                    |
            | 6   | beneficiaryName       | object(ComplexType) | data[].beneficiaryName      | Name of the beneficiary.                                                            |
            | 7   | beneficiaryNickname   | string              | data[].beneficiaryNickname  | Nickname or description of the beneficiary.                                         |
            | 8   | accountBasicInfo      | object(ComplexType) | data[].accountBasicInfo     | Basic information about the account associated with the beneficiary.                |
            | 9   | routings              | array[ComplexType]  | data[].routings             | array of routing information for the beneficiary.                                   |
            | 10  | endToEnd              | string              | data[].endToEnd             | End-to-end identifier for the beneficiary.                                          |
            | 11  | notes                 | string              | data[].notes                | Additional notes or comments about the beneficiary.                                 |
            | 12  | institutionBasicInfo  | object(ComplexType) | data[].institutionBasicInfo | Basic information about the institution associated with the beneficiary.            |
            | 13  | \_links               | object              | data[].\_links              | Contains links related to the beneficiary.                                          |
            | 14  | self                  | object(ComplexType) | data[].\_links.self         | Self-reference link to the beneficiary.                                             |
            | 15  | account               | object(ComplexType) | data[].\_links.account      | Link to retrieve information about the account associated with the beneficiary.     |
            | 16  | institution           | object(ComplexType) | data[].\_links.institution  | Link to retrieve information about the institution associated with the beneficiary. |
            | 17  | next                  | object(ComplexType) | \_links.next                | Link to the next page of beneficiaries.                                             |
            | 18  | prev                  | object(ComplexType) | \_links.prev                | Link to the previous page of beneficiaries.                                         |
            | 19  | last                  | object(ComplexType) | \_links.last                | Link to the last page of beneficiaries.                                             |
            
            ### **Complex Types Dictionary**
            
            ---
            
            The tables below represent a structured overview of composite data structures utilized within the API, detailing their constituent attributes and relationships.
            
            #### **nameComplexType**
            
            | Info.           |                                                                      |
            | --------------- | -------------------------------------------------------------------- |
            | **Description** | Specifies a complex type for name                                    |
            | **Used in**     | **1.** institutionBasicInfo **2.** beneficiaryName                   |
            | **JSON Path**   | **1.**data[].institutionBasicInfo.name **2.** data[].beneficiaryName |
            
            #####
            
            ##### **_nameComplexType in details_**
            
            | \*  | **Field** | Data Type | **JSON Path**                                     | **Description**                                                            |
            | --- | --------- | --------- | ------------------------------------------------- | -------------------------------------------------------------------------- |
            | 1   | enName    | string    | data[].institutionBasicInfo.name.enName           | The institution English Name                                               |
            |     |           |           | data[].beneficiaryName.enName                     | The beneficiary English Name                                               |
            | 2   | arName    | string    | data[].institutionBasicInfo.name.arName           | The institution Arabic Name                                                |
            |     |           |           | data[].beneficiaryName.arName                     | The beneficiary Arabic Name                                                |
            | 3   | tradeName | object    | data[].institutionBasicInfo.name.tradeName        | The institution trade or business name associated with a product or entity |
            |     |           |           | data[].beneficiaryName.tradeName                  | The beneficiary trade or business name associated with a product or entity |
            | 3.1 | enName    | string    | data[].institutionBasicInfo.name.tradeName.enName | The institution English name of the trade or business.                     |
            |     |           |           | data[].beneficiaryName.tradeName.enName           | The beneficiary English name of the trade or business.                     |
            | 3.2 | arName    | string    | data[].institutionBasicInfo.name.tradeName.arName | The institution Arabic name of the trade or business.                      |
            |     |           |           | data[].beneficiaryName.tradeName.arName           | The beneficiary Arabic name of the trade or business.                      |
            
            #
            
            ---
            
            #####
            
            #### **institutionBasicInfoComplexType**
            
            | Info.           |                                                                   |
            | --------------- | ----------------------------------------------------------------- |
            | **Description** | A complex type containing basic information about an institution. |
            | **Used in**     | institutionBasicInfo                                              |
            | **JSON Path**   | data[].institutionBasicInfo                                       |
            
            #####
            
            ##### **_institutionBasicInfoComplexType in details_**
            
            | \*  | **Field**                 | Data Type           | **JSON Path**                                                 | **Description**                                             |
            | --- | ------------------------- | ------------------- | ------------------------------------------------------------- | ----------------------------------------------------------- |
            | 1   | institutionType           | enum                | data[].institutionBasicInfo.institutionType                   | The type or category of the institution                     |
            | 2   | institutionIdentification | object              | data[].institutionBasicInfo.institutionIdentification         | Identification information associated with the institution. |
            | 2.1 | schema                    | string              | data[].institutionBasicInfo.institutionIdentification.schema  | The schema or structure of institution identification.      |
            | 2.2 | address                   | string              | data[].institutionBasicInfo.institutionIdentification.address | The address associated with the institution.                |
            | 3   | name                      | object(ComplexType) | data[].institutionBasicInfo.name                              | The name or title of the institution.                       |
            | 4   | institutionPhoneNumber    | string              | data[].institutionBasicInfo.institutionPhoneNumber            | The contact phone number of the institution.                |
            
            #
            
            ---
            
            #### **routingsComplexType**
            
            | Info.           |                                                       |
            | --------------- | ----------------------------------------------------- |
            | **Description** | A complex type containing information about routings. |
            | **Used in**     | routings                                              |
            | **JSON Path**   | data[].routings[]                                     |
            
            #####
            
            ##### **_routingsComplexType in details_**
            
            | \*  | **Field** | Data Type | **JSON Path**             | **Description**                           |
            | --- | --------- | --------- | ------------------------- | ----------------------------------------- |
            | 1   | schema    | string    | data[].routings[].schema  | The schema or structure of the routings.  |
            | 2   | address   | string    | data[].routings[].address | The address associated with the routings. |
            
            #
            
            ---
            
            #### **accountBasicInfoComplexType**
            
            | Info.           |                                                               |
            | --------------- | ------------------------------------------------------------- |
            | **Description** | A complex type containing basic information about an account. |
            | **Used in**     | accountBasicInfo                                              |
            | **JSON Path**   | data[].accountBasicInfo                                       |
            
            #####
            
            ##### **_accountBasicInfoComplexType in details_**
            
            | \*  | **Field** | Data Type           | **JSON Path**                     | **Description**                                    |
            | --- | --------- | ------------------- | --------------------------------- | -------------------------------------------------- |
            | 1   | accountId | string              | data[].accountBasicInfo.accountId | The unique identifier of the account.              |
            | 2   | mainRoute | object(ComplexType) | data[].accountBasicInfo.mainRoute | A complex type representing the route information. |
            
            #
            
            ---
            
            #### **routeComplexType**
            
            | Info.           |                                                    |
            | --------------- | -------------------------------------------------- |
            | **Description** | A complex type representing the route information. |
            | **Used in**     | accountBasicInfo                                   |
            | **JSON Path**   | data[].accountBasicInfo.mainRoute                  |
            
            #####
            
            ##### **_routeComplexType in details_**
            
            | \*  | **Field** | Data Type | **JSON Path**                             | **Description**                        |
            | --- | --------- | --------- | ----------------------------------------- | -------------------------------------- |
            | 1   | schema    | string    | data[].accountBasicInfo.mainRoute.schema  | The schema or structure of the route.  |
            | 2   | address   | string    | data[].accountBasicInfo.mainRoute.address | The address associated with the route. |
            
            #
            
            ---
            
            #### **\_linksComplexType**
            
            | Info.           |                                                            |
            | --------------- | ---------------------------------------------------------- |
            | **Description** | A complex type representing the related links information. |
            | **Used in**     | **1.** \_links.\* **2.** data[].\_links.\*                 |
            | **JSON Path**   | **1.** \_links.\* **2.** data[].\_links.\*                 |
            
            #####
            
            ##### **_\_linksComplexType in details_**
            
            | \*  | **Field** | Data Type | **JSON Path**             | **Description**                                         |
            | --- | --------- | --------- | ------------------------- | ------------------------------------------------------- |
            | 1   | href      | string    | /\_links.\*.href          | The hyperlink reference for the pagination.             |
            |     |           |           | data[]./\_links.\*.href   | The hyperlink reference for a related service resource. |
            | 2   | method    | string    | /\_links.\*.method        | The HTTP method for the associated href                 |
            |     |           |           | data[]./\_links.\*.method | The HTTP method for the associated href                 |
            
            The Central Bank of Jordan has classified Open Finance consent into Account Information consent and Payment Initiation consent. The above categories are based on the CBJ's classifications and divide them further for the user's convenience.
            
            Some useful links:
            
            - [About JoPACC](https://jopacc.com)
              This header typically carries credentials, such as tokens or keys, allowing the server to authenticate the client's request and determine whether it has permission to access the requested resource.
