#%RAML 0.8
title: Branches
version: v0.4.3
baseUri: "https://jpcjofsdev.apigw-az-eu.webmethods.io/gateway/Branches/v0.4.3"
protocols: [HTTPS]
schemas: 
    - 
        dateTime: '{"type":"string","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"}'
        routeComplexType: '{"required":["address","schema"],"type":"object","properties":{"address":{"type":"string","format":"str","example":"JO27CBJO0010000000000000000001"},"schema":{"type":"string","format":"str","example":"IBAN"}}}'
        error_notFound: '{"type":"object","properties":{"code":{"type":"string","example":"resource.notFound"},"desc":{"type":"string","example":"The requested resource could not be found"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.url.invalid.endpoint"},"desc":{"type":"string","example":"The requested endpoint is not valid. Please check the url and try again"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        branch: |-
                {"required":["branchId"],"type":"object","properties":{"_links":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/branches/{branchId}"},"method":{"type":"string","example":"GET"}}}}},"accessibilityFeatures":{"type":"object","format":"string","example":"[\"wheelchair\",\"brailleSupported\"]"},"attributes":{"type":"object","format":"string","example":"[\"elite\"]"},"branchId":{"type":"string","example":"str123"},"branchInfo":{"type":"object","properties":{"address":{"type":"object","properties":{"addresslines":{"type":"object","format":"string","example":"[\"Amman, Jordan\",\"Wadi Saqra\",\"Arar Street\"]"},"city":{"type":"string","example":"Amman"},"countryInfo":{"type":"object","properties":{"countryCode":{"type":"string","format":"ISO 3166-1 alpha-2","example":"JO"},"countryName":{"type":"string","example":"Jordan"}}},"location":{"type":"object","properties":{"latitude":{"type":"number","format":"float","example":"31.9504003"},"longitude":{"type":"number","format":"float","example":"35.8648691"}}},"moreInfo":{"type":"string","example":"textarea"},"phoneNumber":{"type":"string","format":"E.164","example":"+962761231234"},"postcode":{"type":"string","example":"11962"},"state":{"type":"string","example":"Capital"},"website":{"type":"string","format":"URL Living Standard","example":"www.jopacc.com"}}},"name":{"required":["enName"],"type":"object","properties":{"arName":{"type":"string","format":"str"},"enName":{"type":"string","format":"str"},"tradeName":{"type":"object","properties":{"arName":{"type":"string","format":"str"},"enName":{"type":"string","format":"str"}}}}}}},"branchType":{"type":"string","example":"fullService"},"hasAccessiblityFeatures":{"type":"boolean","example":"true"},"institutionBasicInfo":{"type":"object","$ref":"#/definitions/institutionBasicInfoComplexType"},"isAvailable":{"type":"boolean","example":"true"},"notes":{"type":"string","example":"textarea"},"relatedSSTs":{"type":"array","format":"object","items":{"type":"object","properties":{"access24HoursIndicator":{"type":"boolean","example":"true"},"hasDepositCapability":{"type":"boolean","example":"true"},"isAvailable":{"type":"boolean","example":"true"},"sstId":{"type":"string","example":"str123"},"type":{"type":"string","format":"enum","example":"ATM"}}}},"routings":{"type":"array","format":"string","items":{"type":"object","$ref":"#/definitions/routeComplexType"}},"services":{"type":"object","format":"string","example":"[\"accountOpening\"]"},"workingHours":{"type":"object","properties":{"friday":{"type":"object","$ref":"#/definitions/dayComplexType"},"monday":{"type":"object","$ref":"#/definitions/dayComplexType"},"saturday":{"type":"object","$ref":"#/definitions/dayComplexType"},"sunday":{"type":"object","$ref":"#/definitions/dayComplexType"},"thursday":{"type":"object","$ref":"#/definitions/dayComplexType"},"tuesday":{"type":"object","$ref":"#/definitions/dayComplexType"},"wednesday":{"type":"object","$ref":"#/definitions/dayComplexType"}}}}}
        error_serviceUnavailable: '{"type":"object","properties":{"code":{"type":"string","example":"server.service.error"},"desc":{"type":"string","example":"The requested service is currently unavailable"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.service.maintenance"},"desc":{"type":"string","example":"The service is temporarily down for maintenance. Please try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        errorBody: '{"type":"object","properties":{"code":{"type":"string","description":"High-level error code","example":"path.subPath"},"desc":{"type":"string","description":"Descriptive message of the error","example":"High-level description of the error"},"errors":{"type":"array","description":"List of specific errors. Used to display multiple errors if more than one exist","items":{"type":"object","properties":{"code":{"type":"string","description":"Specific error code","example":"specificPath.specificSubPath"},"desc":{"type":"string","description":"Descriptive message of the specific error","example":"Specific description of this error object"}}}},"id":{"type":"string","description":"Unique identifier for the error response. Used for logging and tracking errors","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        dayComplexType: '{"type":"object","properties":{"closingTime":{"type":"string","format":"time(HH:mm)","example":"18:00"},"isWorkingDay":{"type":"boolean","example":"true"},"openingTime":{"type":"string","format":"time(HH:mm)","example":"10:00"},"secondClosingTime":{"type":"string","format":"time(HH:mm)","example":"23:00"},"secondOpeningTime":{"type":"string","format":"time(HH:mm)","example":"19:00"}}}'
        links: '{"type":"object","properties":{"CAF":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}}}},"FI":{"type":"object","properties":{"FXs":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs"},"method":{"type":"string","example":"GET"}}},"SSTs":{"type":"object","properties":{"href":{"type":"string","example":"/institution/SSTs"},"method":{"type":"string","example":"GET"}}},"branches":{"type":"object","properties":{"href":{"type":"string","example":"/institution/branches"},"method":{"type":"string","example":"GET"}}},"fees":{"type":"object","properties":{"href":{"type":"string","example":"/institution/fees"},"method":{"type":"string","example":"GET"}}},"offers":{"type":"object","properties":{"href":{"type":"string","example":"/institution/offers"},"method":{"type":"string","example":"GET"}}},"products":{"type":"object","properties":{"href":{"type":"string","example":"/institution/products"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}}}},"FXs":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs/{targetCurrency}"},"method":{"type":"string","example":"GET"}}}}},"OTP":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}}}},"SOSP":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"beneficiary":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/beneficiaries/{beneficiaryId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/SOSPs/{SOSPId}"},"method":{"type":"string","example":"GET"}}}}},"SSTs":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/SSTs/{sstId}"},"method":{"type":"string","example":"GET"}}}}},"accounts":{"type":"object","properties":{"CAF":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/CAF"},"method":{"type":"string","example":"POST"}}},"SOSPs":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/SOSPs"},"method":{"type":"string","example":"GET"}}},"balances":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/balances"},"method":{"type":"string","example":"GET"}}},"beneficiaries":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/beneficiaries"},"method":{"type":"string","example":"GET"}}},"branch":{"type":"object","properties":{"href":{"type":"string","example":"institution/branches/{branchId}"},"method":{"type":"string","example":"POST"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"offers":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/offers"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"transactions":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/transactions"},"method":{"type":"string","example":"GET"}}}}},"balances":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/balances"},"method":{"type":"string","example":"GET"}}}}},"beneficiaries":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/beneficiaries/{beneficiaryId}"},"method":{"type":"string","example":"GET"}}}}},"branches":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/branches/{branchId}"},"method":{"type":"string","example":"GET"}}}}},"offers":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"product":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/products/{productId}"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/offers/{offerId}"},"method":{"type":"string","example":"GET"}}}}},"offersPublic":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"product":{"type":"object","properties":{"href":{"type":"string","example":"/institution/products/{productId}"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/offers/{offerId}"},"method":{"type":"string","example":"GET"}}}}},"pagination":{"type":"object","properties":{"last":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the last page of resource"},"next":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the next page of resource"},"prev":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the previous page of resource"}}},"transactions":{"type":"object","properties":{"FXs":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs/{currency}"},"method":{"type":"string","example":"GET"}}},"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/transactions/{transactionId}"},"method":{"type":"string","example":"GET"}}}}}}}'
        countryInfo: '{"type":"object","properties":{"countryCode":{"type":"string","format":"ISO 3166-1 alpha-2","example":"JO"},"countryName":{"type":"string","example":"Jordan"}}}'
        email: '{"type":"string","example":"+1 987-654-3210"}'
        error_notAcceptable: '{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"The requested content cannot be served in the specified format"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.content.unsupportedFormat"},"desc":{"type":"string","example":"The requested format is not supported. Please specify a different format"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_tooManyRequests: |-
                {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The rate limit for requests has been exceeded"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
        error_internalServerError: '{"type":"object","properties":{"code":{"type":"string","example":"server.error"},"desc":{"type":"string","example":"An internal server error occurred"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.error.database"},"desc":{"type":"string","example":"Error accessing the database. Please contact the development support team or try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        website: '{"type":"string","format":"URL Living Standard","example":"www.jopacc.com"}'
        addressComplexType: '{"type":"object","properties":{"addresslines":{"type":"object","$ref":"#/definitions/addresslines"},"city":{"type":"string","example":"Amman"},"countryInfo":{"type":"object","$ref":"#/definitions/countryInfo"},"location":{"type":"object","$ref":"#/definitions/location"},"moreInfo":{"type":"string","example":"textarea"},"phoneNumber":{"type":"object","$ref":"#/definitions/phoneNumber"},"postcode":{"type":"string","example":"11962"},"state":{"type":"string","example":"Capital"},"website":{"type":"object","$ref":"#/definitions/website"}}}'
        error_forbidden: '{"type":"object","properties":{"code":{"type":"string","example":"http.auth.forbidden"},"desc":{"type":"string","example":"Insufficient privileges. Access to the requested resource is forbidden"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.role.insufficient"},"desc":{"type":"string","example":"You do not have the necessary permissions to access this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        branches: '{"type":"object","properties":{"_links":{"type":"object","properties":{"last":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the last page of resource"},"next":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the next page of resource"},"prev":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the previous page of resource"}}},"data":{"type":"array","format":"string","items":{"type":"object","$ref":"#/definitions/branch"}}}}'
        institutionBasicInfoComplexType: '{"required":["institutionIdentification","institutionType","name"],"type":"object","properties":{"institutionIdentification":{"type":"object","properties":{"address":{"type":"string","example":"JORDJOA0"},"schema":{"type":"string","example":"bicCode"}}},"institutionPhoneNumber":{"type":"string","format":"E.164","example":"+962761231234"},"institutionType":{"type":"string","format":"str","example":"BANK"},"name":{"required":["enName"],"type":"object","properties":{"arName":{"type":"string","format":"str"},"enName":{"type":"string","format":"str"},"tradeName":{"type":"object","properties":{"arName":{"type":"string","format":"str"},"enName":{"type":"string","format":"str"}}}}}}}'
        accessibilityFeatures: |-
                {"type":"object","format":"string","example":"[\"wheelchair\",\"brailleSupported\"]"}
        phoneNumber: '{"type":"string","format":"E.164","example":"+962761231234"}'
        workingHoursComplexType: '{"type":"object","properties":{"friday":{"type":"object","$ref":"#/definitions/dayComplexType"},"monday":{"type":"object","$ref":"#/definitions/dayComplexType"},"saturday":{"type":"object","$ref":"#/definitions/dayComplexType"},"sunday":{"type":"object","$ref":"#/definitions/dayComplexType"},"thursday":{"type":"object","$ref":"#/definitions/dayComplexType"},"tuesday":{"type":"object","$ref":"#/definitions/dayComplexType"},"wednesday":{"type":"object","$ref":"#/definitions/dayComplexType"}}}'
        error_badRequest: '{"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.request.invalid"},"desc":{"type":"string","example":"Invalid request parameters"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"Required header x-interactions-id is missing"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        nameComplexType: '{"required":["enName"],"type":"object","properties":{"arName":{"type":"string","format":"str"},"enName":{"type":"string","format":"str"},"tradeName":{"type":"object","properties":{"arName":{"type":"string","format":"str"},"enName":{"type":"string","format":"str"}}}}}'
        addresslines: |-
                {"type":"object","format":"string","example":"[\"Amman, Jordan\",\"Wadi Saqra\",\"Arar Street\"]"}
        name: '{"required":["enName"],"type":"object","properties":{"arName":{"type":"string","format":"str"},"enName":{"type":"string","format":"str"}}}'
        location: '{"type":"object","properties":{"latitude":{"type":"number","format":"float","example":"31.9504003"},"longitude":{"type":"number","format":"float","example":"35.8648691"}}}'
        error_unauthorized: |-
                {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.auth.invalid"},"desc":{"type":"string","example":"Invalid authentication credentials"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.header.missing"},"desc":{"type":"string","example":"Authentication header is missing. Please include the 'Authorization' header in your request."}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
        error_methodNotAllowed: '{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid"},"desc":{"type":"string","example":"The requested HTTP method is not allowed for this resource"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid.patch"},"desc":{"type":"string","example":"PATCH method is not supported for this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_unsupportedMediaType: |-
                {"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding"},"desc":{"type":"string","example":"The requested media encoding is not supported"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding.appXml"},"desc":{"type":"string","example":"The requested format 'application/xml' is not supported"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
securitySchemes: 
    - 
        httpBasicAuth: 
            type: Basic Authentication
            describedBy: 
                headers: 
                    Authorization: 
                        type: string
                        required: false
                        repeat: false
        apiKey: 
            type: x-apiKey
            describedBy: 
                headers: 
                    Authorization: 
                        type: string
                        required: false
                        repeat: false
securedBy: 
    - 
        apiKey
    - 
        httpBasicAuth
/institution/branches: 
    displayName: /institution/branches
    get: 
        description: retrieve list of branches
        headers: 
            Authorization: 
                description: Authorization header in which the token is placed
                type: string
                required: true
                repeat: false
            x-jws-signature: 
                description: JWS Signature, refer to security reference
                type: string
                required: true
                repeat: false
            x-financial-id: 
                description: Unique id for the Financial Institution; BIC or Pseudo-BIC code of the sender
                type: string
                required: false
                repeat: false
            x-interactions-id: 
                description: Unique id for the interaction, used in all request and responses that are related
                type: string
                required: true
                repeat: false
            x-idempotency-key: 
                description: Unique id that is generated for each request and response. Used for tracking and to check for duplicate calls
                type: string
                required: true
                repeat: false
        queryParameters: 
            accessibilityFeatures: 
                description: Filter by branch Accessiblity Features
                type: string
                required: false
                repeat: false
            isAvailable: 
                description: Filter by branch Availability; whether it's open or closed
                type: string
                required: false
                repeat: false
                enum: ["true", "false"]
            hasAccessiblityFeatures: 
                description: Filter by branch Accessiblity; whether it has Accessiblity features or not
                type: string
                required: false
                repeat: false
                enum: ["true", "false"]
            limit: 
                description: The maximum number of resources to return in the response. Used for pagination
                type: integer
                required: false
                repeat: false
                minimum: 1
                maximum: 1E+2
                default: 10
            attributes: 
                description: Filter by branch Attributes
                type: string
                required: false
                repeat: false
            skip: 
                description: The number of resources to skip showing in this response. Used for pagination
                type: integer
                required: false
                repeat: false
                default: 0
            services: 
                description: Filter by branch Services
                type: string
                required: false
                repeat: false
            sort: 
                description: Sorting the response by creation date of the resources (ascending or descending)
                type: string
                required: false
                repeat: false
                enum: [asc, desc]
                default: desc
        responses: 
            "200": 
                description: successful
                body: 
                    application/json: 
                        schema: branches
                        example: '{"data":[{"branchId":"str123","branchType":"fullService","branchInfo":{"name":{"enName":"string","arName":"string","tradeName":{"enName":"string","arName":"string"}},"address":{"addresslines":["Amman, Jordan","Wadi Saqra","Arar Street"],"city":"Amman","state":"Capital","postcode":"11962","countryInfo":{"countryCode":"JO","countryName":"Jordan"},"location":{"latitude":31.9504003,"longitude":35.8648691},"phoneNumber":"+962761231234","website":"www.jopacc.com","moreInfo":"textArea"}},"institutionBasicInfo":{"institutionType":"BANK","institutionIdentification":{"schema":"bicCode","address":"JORDJOA0"},"name":{"enName":"string","arName":"string","tradeName":{"enName":"string","arName":"string"}},"institutionPhoneNumber":"+962761231234"},"isAvailable":true,"workingHours":{"sunday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"},"monday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"},"tuesday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"},"wednesday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"},"thursday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"},"friday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"},"saturday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"}},"hasAccessiblityFeatures":true,"accessibilityFeatures":["wheelchair","brailleSup"],"relatedSSTs":[{"sstId":"str123","type":"ATM","isAvailable":true,"access24HoursIndicator":true,"hasDepositCapability":true}],"routings":[{"schema":"IBAN","address":"JO27CBJO0010000000000000000001"}],"services":["accountOpening"],"attributes":["elite"],"notes":"textArea","_links":{"self":{"href":"/institution/branches/{branchId}","method":"GET"},"institution":{"href":"/institution","method":"GET"}}}],"_links":{"next":{"href":"/{route}/{resource}?skip={X}&limit={Y}","method":"GET"},"prev":{"href":"/{route}/{resource}?skip={X}&limit={Y}","method":"GET"},"last":{"href":"/{route}/{resource}?skip={X}&limit={Y}","method":"GET"}}}'
            "400": 
                description: "400 Bad Request"
                body: 
                    application/json: 
                        schema: error_badRequest
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.request.invalid","desc":"Invalid request parameters","errors":[{"code":"http.headers.invalid","desc":"Required header x-interactions-id is missing"}]}'
            "401": 
                description: "401 Unauthorized"
                body: 
                    application/json: 
                        schema: error_unauthorized
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.invalid","desc":"Invalid authentication credentials","errors":[{"code":"http.auth.header.missing","desc":"Authentication header is missing. Please include the 'Authorization' header in your request."}]}
            "500": 
                description: "500 Internal Service Error"
                body: 
                    application/json: 
                        schema: error_internalServerError
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.error","desc":"An internal server error occurred","errors":[{"code":"server.error.database","desc":"Error accessing the database. Please contact the development support team or try again later"}]}'
            "403": 
                description: "403 Forbidden"
                body: 
                    application/json: 
                        schema: error_forbidden
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.forbidden","desc":"Insufficient privileges. Access to the requested resource is forbidden","errors":[{"code":"http.auth.role.insufficient","desc":"You do not have the necessary permissions to access this resource"}]}'
            "404": 
                description: "404 Not Found"
                body: 
                    application/json: 
                        schema: error_notFound
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"resource.notFound","desc":"The requested resource could not be found","errors":[{"code":"http.url.invalid.endpoint","desc":"The requested endpoint is not valid. Please check the url and try again"}]}'
            "415": 
                description: "415 Unsupported Media Type"
                body: 
                    application/json: 
                        schema: error_unsupportedMediaType
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"media.unsupportedEncoding","desc":"The requested media encoding is not supported","errors":[{"code":"media.unsupportedEncoding.appXml","desc":"The requested format 'application/xml' is not supported"}]}
            "503": 
                description: "503 Service Unavailable"
                body: 
                    application/json: 
                        schema: error_serviceUnavailable
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.service.error","desc":"The requested service is currently unavailable","errors":[{"code":"server.service.maintenance","desc":"The service is temporarily down for maintenance. Please try again later"}]}'
            "405": 
                description: "405 Method Not Allowed"
                body: 
                    application/json: 
                        schema: error_methodNotAllowed
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.method.invalid","desc":"The requested HTTP method is not allowed for this resource","errors":[{"code":"http.method.invalid.patch","desc":"PATCH method is not supported for this resource"}]}'
            "406": 
                description: "406 Not Acceptable"
                body: 
                    application/json: 
                        schema: error_notAcceptable
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.headers.invalid\"","desc":"The requested content cannot be served in the specified format","errors":[{"code":"http.content.unsupportedFormat","desc":"The requested format is not supported. Please specify a different format"}]}
            "429": 
                description: "429 Too Many Requests"
                body: 
                    application/json: 
                        schema: error_tooManyRequests
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"rateLimit.exceeded","desc":"The rate limit for requests has been exceeded","errors":[{"code":"rateLimit.exceeded","desc":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}]}
    /{branchId}: 
        displayName: /institution/branches/{branchId}
        get: 
            description: retrieve branch information
            headers: 
                Authorization: 
                    description: Authorization header in which the token is placed
                    type: string
                    required: true
                    repeat: false
                x-jws-signature: 
                    description: JWS Signature, refer to security reference
                    type: string
                    required: true
                    repeat: false
                x-financial-id: 
                    description: Unique id for the Financial Institution; BIC or Pseudo-BIC code of the sender
                    type: string
                    required: false
                    repeat: false
                x-interactions-id: 
                    description: Unique id for the interaction, used in all request and responses that are related
                    type: string
                    required: true
                    repeat: false
                x-idempotency-key: 
                    description: Unique id that is generated for each request and response. Used for tracking and to check for duplicate calls
                    type: string
                    required: true
                    repeat: false
            responses: 
                "200": 
                    description: successful
                    body: 
                        application/json: 
                            schema: branch
                            example: '{"branchId":"str123","branchType":"fullService","branchInfo":{"name":{"enName":"string","arName":"string","tradeName":{"enName":"string","arName":"string"}},"address":{"addresslines":["Amman, Jordan","Wadi Saqra","Arar Street"],"city":"Amman","state":"Capital","postcode":"11962","countryInfo":{"countryCode":"JO","countryName":"Jordan"},"location":{"latitude":31.9504003,"longitude":35.8648691},"phoneNumber":"+962761231234","website":"www.jopacc.com","moreInfo":"textArea"}},"institutionBasicInfo":{"institutionType":"BANK","institutionIdentification":{"schema":"bicCode","address":"JORDJOA0"},"name":{"enName":"string","arName":"string","tradeName":{"enName":"string","arName":"string"}},"institutionPhoneNumber":"+962761231234"},"isAvailable":true,"workingHours":{"sunday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"},"monday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"},"tuesday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"},"wednesday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"},"thursday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"},"friday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"},"saturday":{"isWorkingDay":true,"openingTime":"10:00","closingTime":"18:00","secondOpeningTime":"19:00","secondClosingTime":"23:00"}},"hasAccessiblityFeatures":true,"accessibilityFeatures":["wheelchair","brailleSup"],"relatedSSTs":[{"sstId":"str123","type":"ATM","isAvailable":true,"access24HoursIndicator":true,"hasDepositCapability":true}],"routings":[{"schema":"IBAN","address":"JO27CBJO0010000000000000000001"}],"services":["accountOpening"],"attributes":["elite"],"notes":"textArea","_links":{"self":{"href":"/institution/branches/{branchId}","method":"GET"},"institution":{"href":"/institution","method":"GET"}}}'
                "400": 
                    description: "400 Bad Request"
                    body: 
                        application/json: 
                            schema: error_badRequest
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.request.invalid","desc":"Invalid request parameters","errors":[{"code":"http.headers.invalid","desc":"Required header x-interactions-id is missing"}]}'
                "401": 
                    description: "401 Unauthorized"
                    body: 
                        application/json: 
                            schema: error_unauthorized
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.invalid","desc":"Invalid authentication credentials","errors":[{"code":"http.auth.header.missing","desc":"Authentication header is missing. Please include the 'Authorization' header in your request."}]}
                "500": 
                    description: "500 Internal Service Error"
                    body: 
                        application/json: 
                            schema: error_internalServerError
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.error","desc":"An internal server error occurred","errors":[{"code":"server.error.database","desc":"Error accessing the database. Please contact the development support team or try again later"}]}'
                "403": 
                    description: "403 Forbidden"
                    body: 
                        application/json: 
                            schema: error_forbidden
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.forbidden","desc":"Insufficient privileges. Access to the requested resource is forbidden","errors":[{"code":"http.auth.role.insufficient","desc":"You do not have the necessary permissions to access this resource"}]}'
                "404": 
                    description: "404 Not Found"
                    body: 
                        application/json: 
                            schema: error_notFound
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"resource.notFound","desc":"The requested resource could not be found","errors":[{"code":"http.url.invalid.endpoint","desc":"The requested endpoint is not valid. Please check the url and try again"}]}'
                "415": 
                    description: "415 Unsupported Media Type"
                    body: 
                        application/json: 
                            schema: error_unsupportedMediaType
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"media.unsupportedEncoding","desc":"The requested media encoding is not supported","errors":[{"code":"media.unsupportedEncoding.appXml","desc":"The requested format 'application/xml' is not supported"}]}
                "503": 
                    description: "503 Service Unavailable"
                    body: 
                        application/json: 
                            schema: error_serviceUnavailable
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.service.error","desc":"The requested service is currently unavailable","errors":[{"code":"server.service.maintenance","desc":"The service is temporarily down for maintenance. Please try again later"}]}'
                "405": 
                    description: "405 Method Not Allowed"
                    body: 
                        application/json: 
                            schema: error_methodNotAllowed
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.method.invalid","desc":"The requested HTTP method is not allowed for this resource","errors":[{"code":"http.method.invalid.patch","desc":"PATCH method is not supported for this resource"}]}'
                "406": 
                    description: "406 Not Acceptable"
                    body: 
                        application/json: 
                            schema: error_notAcceptable
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.headers.invalid\"","desc":"The requested content cannot be served in the specified format","errors":[{"code":"http.content.unsupportedFormat","desc":"The requested format is not supported. Please specify a different format"}]}
                "429": 
                    description: "429 Too Many Requests"
                    body: 
                        application/json: 
                            schema: error_tooManyRequests
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"rateLimit.exceeded","desc":"The rate limit for requests has been exceeded","errors":[{"code":"rateLimit.exceeded","desc":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}]}
            baseUriParameters: 
                branchId: 
                    description: branch id to inquire about
                    type: string
                    required: true
                    repeat: false
documentation: 
    - 
        title: API Description
        content: |
            This service allows TPPs to provide their customers with easy access to information about the physical locations of the banks branches, including addresses, contact details, and hours of operation.
            
            ![JOF1](https://www.jopacc.com/sites/default/files/2023-12/jpc-internal-jof-banner.png)
            
            ---
            
            **_This is the initial draft of the Jordan Open Finance specification_**
            
            The services in this Open API specification are Direct-Call Services (DCS). These services can be accessed by direct calls to the banks or by using an aggregator central hub such as JoPACC. However, the URLs and routes for these services are designed for direct-calls only.
            
            - For the Open API specification of the aggregated services, refer to the Aggregator Services specification.
            
            Services in Jordan Open Finance Specification (JOF) are divided into 4 categories based on their content and nature of consent.
            
            # **Facilities and Products Services (FPS)**
            This category includes services that specifically provide data about the Financial Institution's facilities and products. It does not contain any information about the customers or require their consent.
            
            The Branch service is one of the FPS services and it provides detailed information about the physical locations of the banks branches.
            
            ### **Overview**
            
            ---
            The **Branches** services help TPPs show their customers where the nearest bank branches are. It gives details like addresses, phone numbers, and opening times. This makes it easier for customers to find and visit their closest branch. Plus, it's kept up-to-date and easy to use.
            
            #### **Branch Services List**
            
            **1. Get branches information**
            
            **2. Get a specific branch's data**
            
            ### **Endpoint**
            
            ---
            
            ### **GET /institution/branches**
            
            #### **Get branches information:** This service allows third-party applications to retrieve detailed information about bank branches. This service provides data such as branch addresses, contact details, opening hours, available services, and other relevant information.
            
            |     | Resource | Method | EndPoint              |
            | --- | -------- | ------ | --------------------- |
            | 1   | branches | GET    | /institution/branches |
            
            ### **Parameters**
            
            ---
            
            The table below outlines the inputs or configurations required for invoking the service.
            
            |     | ParameterName           | Required/Optional | Description                                                                                                                                                                                                                                                                |
            | --- | ----------------------- | ----------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
            | 1   | isAvailable             | Optional          | Filter by branch Availability; whether it's open or closed                                                                                                                                                                                                                 |
            | 2   | hasAccessiblityFeatures | Optional          | Filter by branch Accessibility; whether it has Accessibility features or not                                                                                                                                                                                                 |
            | 3   | accessibilityFeatures   | Optional          | Filter by branch Accessibility Features                                                                                                                                                                                                                                     |
            | 4   | services                | Optional          | Filter by branch Services                                                                                                                                                                                                                                                  |
            | 5   | attributes              | Optional          | Filter by branch Attributes                                                                                                                                                                                                                                                |
            | 6   | Pagination              | Optional          | includes three main filters: **1. Skip:** The number of resources to skip showing in this response. **2. limit:** The maximum number of resources to return in the response. **3. sort:** Sorting the response by creation date of the resources (ascending or descending) |
            
            ### **Headers**
            
            ---
            
            The table below lists the HTTP headers that can be included in requests to provide additional information or configuration.
            
            |     | HeaderName        | Required/Optional | Description                                                                                                                                                                                           |
            | --- | ----------------- | ----------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
            | 1   | Authorization     | Required          | This header typically carries credentials, such as tokens or keys, allowing the server to authenticate the client's request and determine whether it has permission to access the requested resource. |
            | 2   | x-interactions-id | Required          | This header is not a standard HTTP header, but it is used as a unique id for the interaction, used in all requests and responses that are related                                                     |
            | 3   | x-idempotency-key | Required          | A unique identifier used to ensure idempotent API requests, preventing duplicate actions when the same request is made multiple times.                                                                |
            | 4   | x-financial-id    | Optional          | A custom header potentially used in financial APIs to convey specific transaction or account identifiers.                                                                                             |
            | 5   | x-jws-signature   | Required          | A custom header indicating the presence of a JSON Web Signature (JWS) for verifying the authenticity and integrity of API requests.                                                                   |
            
            ### **Endpoint**
            
            ---
            ### **GET /institution/branches/{branchId}**
            
            **Get a specific branch's data:** This service lets you get details about a specific branch of an institution by providing its branch ID.
            
            
            |     | Resource | Method | EndPoint                         |
            | --- | -------- | ------ | -------------------------------- |
            | 1   | branches | GET    | /institution/branches/{branchId} |
            
            ### **Parameters**
            
            ---
            
            The table below outlines the inputs or configurations required for invoking the service.
            
            |     | ParameterName | Required/Optional | Description                |
            | --- | ------------- | ----------------- | -------------------------- |
            | 1   | branchId      | Required          | branch id to inquire about |
            
            ### **Headers**
            
            ---
            
            The table below lists the HTTP headers that can be included in requests to provide additional information or configuration.
            
            |     | HeaderName        | Required/Optional | Description                                                                                                                                                                                           |
            | --- | ----------------- | ----------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
            | 1   | Authorization     | Required          | This header typically carries credentials, such as tokens or keys, allowing the server to authenticate the client's request and determine whether it has permission to access the requested resource. |
            | 2   | x-interactions-id | Required          | This header is not a standard HTTP header, but it is used as a unique id for the interaction, used in all requests and responses that are related                                                     |
            | 3   | x-idempotency-key | Required          | A unique identifier used to ensure idempotent API requests, preventing duplicate actions when the same request is made multiple times.                                                                |
            | 4   | x-financial-id    | Optional          | A custom header potentially used in financial APIs to convey specific transaction or account identifiers.                                                                                             |
            | 5   | x-jws-signature   | Required          | A custom header indicating the presence of a JSON Web Signature (JWS) for verifying the authenticity and integrity of API requests.                                                                   |
            
            ## **UML Diagram**
            
            ---
            
            ![BranchesUML](https://www.jopacc.com/sites/default/files/2024-05/branches_jgtkcn.png)
            
            ### **Data Dictionary**
            
            ---
            
            The table below represents the API service fields and serves as a comprehensive reference detailing the meaning, format, and usage of each field, ensuring a consistent understanding of the service.
            
            | #   | Field                   | Data Type           | JSON Path                                   | Description                                                                    |
            | --- | ----------------------- | ------------------- | ------------------------------------------- | ------------------------------------------------------------------------------ |
            | 1   | getBranches             | N/A                 | N/A                                         | Method to retrieve branch information.                                         |
            | 2   | data                    | array               | data                                        | Contains an array of branch objects.                                           |
            | 3   | branch                  | N/A                 | data[]                                      | Represents an individual branch object.                                        |
            | 4   | branchId                | string              | data[].branchId                             | Unique identifier for the branch.                                              |
            | 5   | branchType              | enum                | data[].branchType                           | Type of the branch (e.g., fullService, ATM).                                   |
            | 6   | institutionBasicInfo    | object(ComplexType) | data[].institutionBasicInfo                 | Basic information about the institution associated with the branch.            |
            | 7   | isAvailable             | boolean             | data[].isAvailable                          | Indicates if the branch is available.                                          |
            | 8   | workingHours            | object(ComplexType) | data[].workingHours                         | Working hours of the branch.                                                   |
            | 9   | hasAccessiblityFeatures | boolean             | data[].hasAccessiblityFeatures              | Indicates if the branch has accessibility features.                            |
            | 10  | accessibilityFeatures   | array               | data[].accessibilityFeatures                | array of accessibility features available at the branch.                       |
            | 11  | routings                | array[ComplexType]  | data[].routings                             | array of routing information for the branch.                                   |
            | 12  | services                | array               | data[].services                             | array of services offered at the branch.                                       |
            | 13  | attributes              | array               | data[].attributes                           | array of attributes associated with the branch.                                |
            | 14  | notes                   | string              | data[].notes                                | Additional notes or comments about the branch.                                 |
            | 15  | branchInfo              | object              | data[].branchInfo                           | Detailed information about the branch.                                         |
            | 16  | name                    | object(ComplexType) | data[].branchInfo.name                      | Name of the branch.                                                            |
            | 17  | address                 | object(ComplexType) | data[].branchInfo.address                   | Address of the branch.                                                         |
            | 18  | relatedSSts             | array               | data[].relatedSSTs                          | array of related self-service terminals (SSTs) available at the branch.        |
            | 19  | sstId                   | string              | data[].relatedSSTs[].sstId                  | Unique identifier for the related SST.                                         |
            | 20  | type                    | enum                | data[].relatedSSTs[].type                   | Type of the related SST.                                                       |
            | 21  | isAvailable             | boolean             | data[].relatedSSTs[].isAvailable            | Indicates if the related SST is available.                                     |
            | 22  | access24HoursIndicator  | boolean             | data[].relatedSSTs[].access24HoursIndicator | Indicates if the related SST is available 24 hours.                            |
            | 23  | hasDepositCapability    | boolean             | data[].relatedSSTs[].hasDepositCapability   | Indicates if the related SST has deposit capability.                           |
            | 24  | \_links                 | object              | data[].\_links                              | Contains links related to the branch.                                          |
            | 25  | self                    | object(ComplexType) | data[].\_links.self                         | Self-reference link to the branch.                                             |
            | 26  | institution             | object(ComplexType) | data[].\_links.institution                  | Link to retrieve information about the institution associated with the branch. |
            | 27  | next                    | object(ComplexType) | \_links.next                                | Link to the next page of branches.                                             |
            | 28  | prev                    | object(ComplexType) | \_links.prev                                | Link to the previous page of branches.                                         |
            | 29  | last                    | object(ComplexType) | \_links.last                                | Link to the last page of branches.                                             |
            
            ### **Complex Types Dictionary**
            
            ---
            
            The tables below represent a structured overview of composite data structures utilized within the API, detailing their constituent attributes and relationships.
            
            #### **nameComplexType**
            
            | Info.           |                                                                       |
            | --------------- | --------------------------------------------------------------------- |
            | **Description** | Specifies a complex type for name                                     |
            | **Used in**     | **1.** institutionBasicInfo **2.** branchInfo                         |
            | **JSON Path**   | **1.** data[].institutionBasicInfo.name **2.** data[].branchInfo.name |
            
            #####
            
            ##### **_nameComplexType in details_**
            
            | \*  | **Field** | Data Type | **JSON Path**                                     | **Description**                                                            |
            | --- | --------- | --------- | ------------------------------------------------- | -------------------------------------------------------------------------- |
            | 1   | enName    | string    | data[].institutionBasicInfo.name.enName           | The institution English Name                                               |
            |     |           |           | data[].branchInfo.name.enName                     | The branch English Name                                                    |
            | 2   | arName    | string    | data[].institutionBasicInfo.name.arName           | The institution Arabic Name                                                |
            |     |           |           | data[].branchInfo.name.arName                     | The branch Arabic Name                                                     |
            | 3   | tradeName | object    | data[].institutionBasicInfo.name.tradeName        | The institution trade or business name associated with a product or entity |
            |     |           |           | data[].branchInfo.name.tradeName                  | The branch trade or business name associated with a product or entity      |
            | 3.1 | enName    | string    | data[].institutionBasicInfo.name.tradeName.enName | The institution English name of the trade or business.                     |
            |     |           |           | data[].branchInfo.name.tradeName.enName           | The branch English name of the trade or business.                          |
            | 3.2 | arName    | string    | data[].institutionBasicInfo.name.tradeName.arName | The institution Arabic name of the trade or business.                      |
            |     |           |           | data[].branchInfo.name.tradeName.arName           | The branch Arabic name of the trade or business.                           |
            
            #
            
            ---
            
            #####
            
            #### **institutionBasicInfoComplexType**
            
            | Info.           |                                                                   |
            | --------------- | ----------------------------------------------------------------- |
            | **Description** | A complex type containing basic information about an institution. |
            | **Used in**     | institutionBasicInfo                                              |
            | **JSON Path**   | data[].institutionBasicInfo                                       |
            
            #####
            
            ##### **_institutionBasicInfoComplexType in details_**
            
            | \*  | **Field**                 | Data Type           | **JSON Path**                                                 | **Description**                                             |
            | --- | ------------------------- | ------------------- | ------------------------------------------------------------- | ----------------------------------------------------------- |
            | 1   | institutionType           | enum                | data[].institutionBasicInfo.institutionType                   | The type or category of the institution                     |
            | 2   | institutionIdentification | object              | data[].institutionBasicInfo.institutionIdentification         | Identification information associated with the institution. |
            | 2.1 | schema                    | string              | data[].institutionBasicInfo.institutionIdentification.schema  | The schema or structure of institution identification.      |
            | 2.2 | address                   | string              | data[].institutionBasicInfo.institutionIdentification.address | The address associated with the institution.                |
            | 3   | name                      | object(ComplexType) | data[].institutionBasicInfo.name                              | The name or title of the institution.                       |
            | 4   | institutionPhoneNumber    | string              | data[].institutionBasicInfo.institutionPhoneNumber            | The contact phone number of the institution.                |
            
            #
            
            ---
            
            #### **workingHoursComplexType**
            
            | Info.           |                                                                               |
            | --------------- | ----------------------------------------------------------------------------- |
            | **Description** | A complex type containing information about the working hours of the service. |
            | **Used in**     | workingHours                                                                  |
            | **JSON Path**   | data[].workingHours                                                           |
            
            #####
            
            ##### **_workingHoursComplexType in details_**
            
            | \*  | **Field** | Data Type           | **JSON Path**                 | **Description**                  |
            | --- | --------- | ------------------- | ----------------------------- | -------------------------------- |
            | 1   | sunday    | object(ComplexType) | data[].workingHours.sunday    | The working hours for Sunday.    |
            | 2   | monday    | object(ComplexType) | data[].workingHours.monday    | The working hours for Monday.    |
            | 3   | tuesday   | object(ComplexType) | data[].workingHours.tuesday   | The working hours for Tuesday.   |
            | 4   | wednesday | object(ComplexType) | data[].workingHours.wednesday | The working hours for Wednesday. |
            | 5   | thursday  | object(ComplexType) | data[].workingHours.thursday  | The working hours for Thursday.  |
            | 6   | friday    | object(ComplexType) | data[].workingHours.friday    | The working hours for Friday.    |
            | 7   | saturday  | object(ComplexType) | data[].workingHours.saturday  | The working hours for Saturday.  |
            
            #
            
            ---
            
            #### **dayComplexType**
            
            | Info.           |                                                                               |
            | --------------- | ----------------------------------------------------------------------------- |
            | **Description** | A complex type containing information about the working hours of the service. |
            | **Used in**     | workingHours.\*                                                               |
            | **JSON Path**   | data[].workingHours.\*                                                        |
            
            #####
            
            ##### **_dayComplexType in details_**
            
            | \*  | **Field**         | Data Type | **JSON Path**                            | **Description**                        |
            | --- | ----------------- | --------- | ---------------------------------------- | -------------------------------------- |
            | 1   | isWorkingDay      | boolean   | data[].workingHours.\*.isWorkingDay      | Indicates if the day is a working day. |
            | 2   | openingTime       | string    | data[].workingHours.\*.openingTime       | The opening time for the day.          |
            | 3   | closingTime       | string    | data[].workingHours.\*.closingTime       | The closing time for the day.          |
            | 4   | secondOpeningTime | string    | data[].workingHours.\*.secondOpeningTime | The second opening time for the day.   |
            | 5   | secondClosingTime | string    | data[].workingHours.\*.secondClosingTime | The second closing time for the day.   |
            
            #
            
            ---
            
            #### **routeComplexType**
            
            | Info.           |                                                    |
            | --------------- | -------------------------------------------------- |
            | **Description** | A complex type representing the route information. |
            | **Used in**     | accountBasicInfo                                   |
            | **JSON Path**   | data[].accountBasicInfo.mainRoute                  |
            
            #####
            
            ##### **_routeComplexType in details_**
            
            | \*  | **Field** | Data Type | **JSON Path**                             | **Description**                        |
            | --- | --------- | --------- | ----------------------------------------- | -------------------------------------- |
            | 1   | schema    | string    | data[].accountBasicInfo.mainRoute.schema  | The schema or structure of the route.  |
            | 2   | address   | string    | data[].accountBasicInfo.mainRoute.address | The address associated with the route. |
            
            #
            
            ---
            
            #### **\_linksComplexType**
            
            | Info.           |                                                            |
            | --------------- | ---------------------------------------------------------- |
            | **Description** | A complex type representing the related links information. |
            | **Used in**     | **1.** \_links.\* **2.** data[].\_links.\*                 |
            | **JSON Path**   | **1.** \_links.\* **2.** data[].\_links.\*                 |
            
            #####
            
            ##### **_\_linksComplexType in details_**
            
            | \*  | **Field** | Data Type | **JSON Path**             | **Description**                                         |
            | --- | --------- | --------- | ------------------------- | ------------------------------------------------------- |
            | 1   | href      | string    | /\_links.\*.href          | The hyperlink reference for the pagination.             |
            |     |           |           | data[]./\_links.\*.href   | The hyperlink reference for a related service resource. |
            | 2   | method    | string    | /\_links.\*.method        | The HTTP method for the associated href                 |
            |     |           |           | data[]./\_links.\*.method | The HTTP method for the associated href                 |
            
            ---
            
            #### **addressComplexType**
            
            | Info.           |                                                          |
            | --------------- | -------------------------------------------------------- |
            | **Description** | A complex type containing information about the address. |
            | **Used in**     | branchInfo                                               |
            | **JSON Path**   | data[].branchInfo.address                                |
            
            #####
            
            ##### **_addressComplexType in details_**
            
            | \*  | **Field**    | Data Type | **JSON Path**                                     | **Description**                          |
            | --- | ------------ | --------- | ------------------------------------------------- | ---------------------------------------- |
            | 1   | addresslines | array     | data[].branchInfo.address.addresslines            | The address lines of the branch.         |
            | 2   | city         | string    | data[].branchInfo.address.city                    | The city of the branch.                  |
            | 3   | state        | string    | data[].branchInfo.address.state                   | The state of the branch.                 |
            | 4   | postcode     | string    | data[].branchInfo.address.postcode                | The postcode of the branch.              |
            | 5   | phoneNumber  | string    | data[].branchInfo.address.phoneNumber             | The phone number of the branch.          |
            | 6   | website      | string    | data[].branchInfo.address.website                 | The website of the branch.               |
            | 7   | moreInfo     | string    | data[].branchInfo.address.moreInfo                | Additional information about the branch. |
            | 8   | countryInfo  | object    | data[].branchInfo.address.countryInfo             | The country information of the branch.   |
            | 8.1 | countryCode  | object    | data[].branchInfo.address.countryInfo.countryCode | The country code of the branch.          |
            | 8.2 | countryName  | object    | data[].branchInfo.address.countryInfo.countryName | The country name of the branch.          |
            | 9   | location     | object    | data[].branchInfo.address.location                | The location of the branch.              |
            | 9.1 | latitude     | number    | data[].branchInfo.address.location.latitude       | The latitude of the branch.              |
            | 9.2 | longitude    | number    | data[].branchInfo.address.location.longitude      | The longitude of the branch.             |
            
            The Central Bank of Jordan has classified Open Finance consent into Account Information consent and Payment Initiation consent. The above categories are based on the CBJ's classifications and divide them further for the user's convenience.
            
            Some useful links:
            
            - [About JoPACC](https://jopacc.com)
              This header typically carries credentials, such as tokens or keys, allowing the server to authenticate the client's request and determine whether it has permission to access the requested resource.
