#%RAML 0.8
title: Foreign Exchange (FX)
version: v0.4.3
baseUri: "http://jpcjofsdev.apigw-az-eu.webmethods.io/gateway/Foreign Exchange (FX)/v0.4.3"
protocols: [HTTP, HTTPS]
schemas: 
    - 
        FXs: |-
                {"type":"object","properties":{"_links":{"type":"object","properties":{"last":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the last page of resource"},"next":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the next page of resource"},"prev":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the previous page of resource"}}},"data":{"type":"array","format":"string","items":{"required":["conversionValue","conversionValue","effectiveDate","effectiveDateTime","sourceCurrency","targetCurrency"],"type":"object","properties":{"_links":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs/{targetCurrency}"},"method":{"type":"string","example":"GET"}}}}},"conversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"1.41"},"effectiveDateTime":{"type":"string","description":"The start date and time when this FX rate becomes active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"inverseConversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"0.709"},"lastEffectiveDateTime":{"type":"string","description":"The finish date and time when this FX rate no longer is valid or active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"maxconversionValue":{"type":"number","format":"float","example":"5000"},"minconversionValue":{"type":"number","format":"float","example":"5"},"sourceCurrency":{"type":"string","format":"ISO 4217","example":"JOD"},"targetCurrency":{"type":"string","format":"ISO 4217","example":"USD"}}}}}}
        dateTime: '{"type":"string","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"}'
        error_internalServerError: '{"type":"object","properties":{"code":{"type":"string","example":"server.error"},"desc":{"type":"string","example":"An internal server error occurred"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.error.database"},"desc":{"type":"string","example":"Error accessing the database. Please contact the development support team or try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        amountComplexType: '{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","format":"float(4 decimals)","example":"25.001"},"currency":{"type":"string","format":"ISO 4217","example":"JOD"}}}'
        error_forbidden: '{"type":"object","properties":{"code":{"type":"string","example":"http.auth.forbidden"},"desc":{"type":"string","example":"Insufficient privileges. Access to the requested resource is forbidden"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.role.insufficient"},"desc":{"type":"string","example":"You do not have the necessary permissions to access this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_notFound: '{"type":"object","properties":{"code":{"type":"string","example":"resource.notFound"},"desc":{"type":"string","example":"The requested resource could not be found"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.url.invalid.endpoint"},"desc":{"type":"string","example":"The requested endpoint is not valid. Please check the url and try again"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_serviceUnavailable: '{"type":"object","properties":{"code":{"type":"string","example":"server.service.error"},"desc":{"type":"string","example":"The requested service is currently unavailable"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.service.maintenance"},"desc":{"type":"string","example":"The service is temporarily down for maintenance. Please try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        FX: |-
                {"required":["conversionValue","conversionValue","effectiveDate","effectiveDateTime","sourceCurrency","targetCurrency"],"type":"object","properties":{"_links":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs/{targetCurrency}"},"method":{"type":"string","example":"GET"}}}}},"conversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"1.41"},"effectiveDateTime":{"type":"string","description":"The start date and time when this FX rate becomes active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"inverseConversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"0.709"},"lastEffectiveDateTime":{"type":"string","description":"The finish date and time when this FX rate no longer is valid or active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"maxconversionValue":{"type":"number","format":"float","example":"5000"},"minconversionValue":{"type":"number","format":"float","example":"5"},"sourceCurrency":{"type":"string","format":"ISO 4217","example":"JOD"},"targetCurrency":{"type":"string","format":"ISO 4217","example":"USD"}}}
        errorBody: '{"type":"object","properties":{"code":{"type":"string","description":"High-level error code","example":"path.subPath"},"desc":{"type":"string","description":"Descriptive message of the error","example":"High-level description of the error"},"errors":{"type":"array","description":"List of specific errors. Used to display multiple errors if more than one exist","items":{"type":"object","properties":{"code":{"type":"string","description":"Specific error code","example":"specificPath.specificSubPath"},"desc":{"type":"string","description":"Descriptive message of the specific error","example":"Specific description of this error object"}}}},"id":{"type":"string","description":"Unique identifier for the error response. Used for logging and tracking errors","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_badRequest: '{"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.request.invalid"},"desc":{"type":"string","example":"Invalid request parameters"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"Required header x-interactions-id is missing"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        links: '{"type":"object","properties":{"CAF":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}}}},"FI":{"type":"object","properties":{"FXs":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs"},"method":{"type":"string","example":"GET"}}},"SSTs":{"type":"object","properties":{"href":{"type":"string","example":"/institution/SSTs"},"method":{"type":"string","example":"GET"}}},"branches":{"type":"object","properties":{"href":{"type":"string","example":"/institution/branches"},"method":{"type":"string","example":"GET"}}},"fees":{"type":"object","properties":{"href":{"type":"string","example":"/institution/fees"},"method":{"type":"string","example":"GET"}}},"offers":{"type":"object","properties":{"href":{"type":"string","example":"/institution/offers"},"method":{"type":"string","example":"GET"}}},"products":{"type":"object","properties":{"href":{"type":"string","example":"/institution/products"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}}}},"FXs":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs/{targetCurrency}"},"method":{"type":"string","example":"GET"}}}}},"OTP":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}}}},"SOSP":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"beneficiary":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/beneficiaries/{beneficiaryId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/SOSPs/{SOSPId}"},"method":{"type":"string","example":"GET"}}}}},"SSTs":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/SSTs/{sstId}"},"method":{"type":"string","example":"GET"}}}}},"accounts":{"type":"object","properties":{"CAF":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/CAF"},"method":{"type":"string","example":"POST"}}},"SOSPs":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/SOSPs"},"method":{"type":"string","example":"GET"}}},"balances":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/balances"},"method":{"type":"string","example":"GET"}}},"beneficiaries":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/beneficiaries"},"method":{"type":"string","example":"GET"}}},"branch":{"type":"object","properties":{"href":{"type":"string","example":"institution/branches/{branchId}"},"method":{"type":"string","example":"POST"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"offers":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/offers"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"transactions":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/transactions"},"method":{"type":"string","example":"GET"}}}}},"balances":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/balances"},"method":{"type":"string","example":"GET"}}}}},"beneficiaries":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/beneficiaries/{beneficiaryId}"},"method":{"type":"string","example":"GET"}}}}},"branches":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/branches/{branchId}"},"method":{"type":"string","example":"GET"}}}}},"offers":{"type":"object","properties":{"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"product":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/products/{productId}"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/offers/{offerId}"},"method":{"type":"string","example":"GET"}}}}},"offersPublic":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"product":{"type":"object","properties":{"href":{"type":"string","example":"/institution/products/{productId}"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/offers/{offerId}"},"method":{"type":"string","example":"GET"}}}}},"pagination":{"type":"object","properties":{"last":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the last page of resource"},"next":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the next page of resource"},"prev":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the previous page of resource"}}},"transactions":{"type":"object","properties":{"FXs":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs/{currency}"},"method":{"type":"string","example":"GET"}}},"account":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}"},"method":{"type":"string","example":"GET"}}},"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/accounts/{accountId}/transactions/{transactionId}"},"method":{"type":"string","example":"GET"}}}}}}}'
        error_unauthorized: |-
                {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.auth.invalid"},"desc":{"type":"string","example":"Invalid authentication credentials"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.header.missing"},"desc":{"type":"string","example":"Authentication header is missing. Please include the 'Authorization' header in your request."}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
        postQuoteBody: '{"required":["sourceAmount","sourceCurrency","targetCurrency"],"type":"object","properties":{"sourceAmount":{"type":"number","format":"float(4 decimals)","example":"100"},"sourceCurrency":{"type":"string","format":"ISO 4217","example":"JOD"},"targetCurrency":{"type":"string","format":"ISO 4217","example":"USD"}}}'
        error_methodNotAllowed: '{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid"},"desc":{"type":"string","example":"The requested HTTP method is not allowed for this resource"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid.patch"},"desc":{"type":"string","example":"PATCH method is not supported for this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        postFXQuote: |-
                {"required":["conversionValue","conversionValue","effectiveDate","effectiveDateTime","sourceCurrency","targetCurrency"],"type":"object","properties":{"conversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"1.41"},"effectiveDateTime":{"type":"string","description":"The start date and time when this FX rate becomes active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"fee":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","format":"float(4 decimals)","example":"25.001"},"currency":{"type":"string","format":"ISO 4217","example":"JOD"}}},"inverseConversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"0.709"},"lastEffectiveDateTime":{"type":"string","description":"The finish date and time when this FX rate no longer is valid or active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"quoteId":{"type":"string","example":"str123"},"sourceAmount":{"type":"number","format":"float(4 decimals)","example":"100"},"sourceCurrency":{"type":"string","format":"ISO 4217","example":"JOD"},"targetAmount":{"type":"number","format":"float(4 decimals)","example":"141"},"targetCurrency":{"type":"string","format":"ISO 4217","example":"USD"}}}
        error_notAcceptable: '{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"The requested content cannot be served in the specified format"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.content.unsupportedFormat"},"desc":{"type":"string","example":"The requested format is not supported. Please specify a different format"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
        error_tooManyRequests: |-
                {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The rate limit for requests has been exceeded"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
        error_unsupportedMediaType: |-
                {"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding"},"desc":{"type":"string","example":"The requested media encoding is not supported"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding.appXml"},"desc":{"type":"string","example":"The requested format 'application/xml' is not supported"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
/institution/FXs: 
    displayName: /institution/FXs
    get: 
        description: retrieve a list of Foreign Exchange objects
        headers: 
            Authorization: 
                description: Authorization header in which the token is placed
                type: string
                required: true
                repeat: false
            x-jws-signature: 
                description: JWS Signature, refer to security reference
                type: string
                required: true
                repeat: false
            x-financial-id: 
                description: Unique id for the Financial Institution; BIC or Pseudo-BIC code of the sender
                type: string
                required: false
                repeat: false
            x-interactions-id: 
                description: Unique id for the interaction, used in all request and responses that are related
                type: string
                required: true
                repeat: false
            x-idempotency-key: 
                description: Unique id that is generated for each request and response. Used for tracking and to check for duplicate calls
                type: string
                required: true
                repeat: false
        responses: 
            "200": 
                description: successful
                body: 
                    application/json: 
                        schema: |-
                            {"type":"object","properties":{"_links":{"type":"object","properties":{"last":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the last page of resource"},"next":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the next page of resource"},"prev":{"type":"object","properties":{"href":{"type":"string","example":"/{route}/{resource}?skip={X}&limit={Y}"},"method":{"type":"string","example":"GET"}},"description":"links to the previous page of resource"}}},"data":{"type":"array","format":"string","items":{"required":["conversionValue","conversionValue","effectiveDate","effectiveDateTime","sourceCurrency","targetCurrency"],"type":"object","properties":{"_links":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs/{targetCurrency}"},"method":{"type":"string","example":"GET"}}}}},"conversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"1.41"},"effectiveDateTime":{"type":"string","description":"The start date and time when this FX rate becomes active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"inverseConversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"0.709"},"lastEffectiveDateTime":{"type":"string","description":"The finish date and time when this FX rate no longer is valid or active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"maxconversionValue":{"type":"number","format":"float","example":"5000"},"minconversionValue":{"type":"number","format":"float","example":"5"},"sourceCurrency":{"type":"string","format":"ISO 4217","example":"JOD"},"targetCurrency":{"type":"string","format":"ISO 4217","example":"USD"}}}}}}
                        example: '{"data":[{"sourceCurrency":"JOD","targetCurrency":"USD","conversionValue":1.41,"inverseConversionValue":0.709,"effectiveDateTime":"2006-09-15T10:30:00Z","lastEffectiveDateTime":"2006-09-15T10:30:00Z","minconversionValue":5,"maxconversionValue":5000,"_links":{"self":{"href":"/institution/FXs/{targetCurrency}","method":"GET"},"institution":{"href":"/institution/","method":"GET"}}}],"_links":{"next":{"href":"/{route}/{resource}?skip={X}&limit={Y}","method":"GET"},"prev":{"href":"/{route}/{resource}?skip={X}&limit={Y}","method":"GET"},"last":{"href":"/{route}/{resource}?skip={X}&limit={Y}","method":"GET"}}}'
            "400": 
                description: "400 Bad Request"
                body: 
                    application/json: 
                        schema: '{"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.request.invalid"},"desc":{"type":"string","example":"Invalid request parameters"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"Required header x-interactions-id is missing"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.request.invalid","desc":"Invalid request parameters","errors":[{"code":"http.headers.invalid","desc":"Required header x-interactions-id is missing"}]}'
            "401": 
                description: "401 Unauthorized"
                body: 
                    application/json: 
                        schema: |-
                            {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.auth.invalid"},"desc":{"type":"string","example":"Invalid authentication credentials"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.header.missing"},"desc":{"type":"string","example":"Authentication header is missing. Please include the 'Authorization' header in your request."}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.invalid","desc":"Invalid authentication credentials","errors":[{"code":"http.auth.header.missing","desc":"Authentication header is missing. Please include the 'Authorization' header in your request."}]}
            "500": 
                description: "500 Internal Service Error"
                body: 
                    application/json: 
                        schema: '{"type":"object","properties":{"code":{"type":"string","example":"server.error"},"desc":{"type":"string","example":"An internal server error occurred"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.error.database"},"desc":{"type":"string","example":"Error accessing the database. Please contact the development support team or try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.error","desc":"An internal server error occurred","errors":[{"code":"server.error.database","desc":"Error accessing the database. Please contact the development support team or try again later"}]}'
            "403": 
                description: "403 Forbidden"
                body: 
                    application/json: 
                        schema: '{"type":"object","properties":{"code":{"type":"string","example":"http.auth.forbidden"},"desc":{"type":"string","example":"Insufficient privileges. Access to the requested resource is forbidden"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.role.insufficient"},"desc":{"type":"string","example":"You do not have the necessary permissions to access this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.forbidden","desc":"Insufficient privileges. Access to the requested resource is forbidden","errors":[{"code":"http.auth.role.insufficient","desc":"You do not have the necessary permissions to access this resource"}]}'
            "404": 
                description: "404 Not Found"
                body: 
                    application/json: 
                        schema: '{"type":"object","properties":{"code":{"type":"string","example":"resource.notFound"},"desc":{"type":"string","example":"The requested resource could not be found"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.url.invalid.endpoint"},"desc":{"type":"string","example":"The requested endpoint is not valid. Please check the url and try again"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"resource.notFound","desc":"The requested resource could not be found","errors":[{"code":"http.url.invalid.endpoint","desc":"The requested endpoint is not valid. Please check the url and try again"}]}'
            "415": 
                description: "415 Unsupported Media Type"
                body: 
                    application/json: 
                        schema: |-
                            {"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding"},"desc":{"type":"string","example":"The requested media encoding is not supported"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding.appXml"},"desc":{"type":"string","example":"The requested format 'application/xml' is not supported"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"media.unsupportedEncoding","desc":"The requested media encoding is not supported","errors":[{"code":"media.unsupportedEncoding.appXml","desc":"The requested format 'application/xml' is not supported"}]}
            "503": 
                description: "503 Service Unavailable"
                body: 
                    application/json: 
                        schema: '{"type":"object","properties":{"code":{"type":"string","example":"server.service.error"},"desc":{"type":"string","example":"The requested service is currently unavailable"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.service.maintenance"},"desc":{"type":"string","example":"The service is temporarily down for maintenance. Please try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.service.error","desc":"The requested service is currently unavailable","errors":[{"code":"server.service.maintenance","desc":"The service is temporarily down for maintenance. Please try again later"}]}'
            "405": 
                description: "405 Method Not Allowed"
                body: 
                    application/json: 
                        schema: '{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid"},"desc":{"type":"string","example":"The requested HTTP method is not allowed for this resource"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid.patch"},"desc":{"type":"string","example":"PATCH method is not supported for this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                        example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.method.invalid","desc":"The requested HTTP method is not allowed for this resource","errors":[{"code":"http.method.invalid.patch","desc":"PATCH method is not supported for this resource"}]}'
            "406": 
                description: "406 Not Acceptable"
                body: 
                    application/json: 
                        schema: '{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"The requested content cannot be served in the specified format"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.content.unsupportedFormat"},"desc":{"type":"string","example":"The requested format is not supported. Please specify a different format"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.headers.invalid\"","desc":"The requested content cannot be served in the specified format","errors":[{"code":"http.content.unsupportedFormat","desc":"The requested format is not supported. Please specify a different format"}]}
            "429": 
                description: "429 Too Many Requests"
                body: 
                    application/json: 
                        schema: |-
                            {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The rate limit for requests has been exceeded"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
                        example: |-
                            {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"rateLimit.exceeded","desc":"The rate limit for requests has been exceeded","errors":[{"code":"rateLimit.exceeded","desc":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}]}
    /{targetCurrency}: 
        displayName: /institution/FXs/{targetCurrency}
        get: 
            description: retrieve a specific currency's conversion data. The rate will be the conversion from the "sourceCurrency" header variable to the "targetCurrency" path variable
            headers: 
                Authorization: 
                    description: Authorization header in which the token is placed
                    type: string
                    required: true
                    repeat: false
                x-jws-signature: 
                    description: JWS Signature, refer to security reference
                    type: string
                    required: true
                    repeat: false
                x-financial-id: 
                    description: Unique id for the Financial Institution; BIC or Pseudo-BIC code of the sender
                    type: string
                    required: false
                    repeat: false
                x-interactions-id: 
                    description: Unique id for the interaction, used in all request and responses that are related
                    type: string
                    required: true
                    repeat: false
                x-idempotency-key: 
                    description: Unique id that is generated for each request and response. Used for tracking and to check for duplicate calls
                    type: string
                    required: true
                    repeat: false
                sourceCurrency: 
                    description: The currency code to convert from. The returned rate will be the conversion from this "sourceCurrency" header to the "targetCurrency" path variable
                    type: string
                    required: true
                    repeat: false
            responses: 
                "200": 
                    description: successful
                    body: 
                        application/json: 
                            schema: |-
                                {"required":["conversionValue","conversionValue","effectiveDate","effectiveDateTime","sourceCurrency","targetCurrency"],"type":"object","properties":{"_links":{"type":"object","properties":{"institution":{"type":"object","properties":{"href":{"type":"string","example":"/institution"},"method":{"type":"string","example":"GET"}}},"self":{"type":"object","properties":{"href":{"type":"string","example":"/institution/FXs/{targetCurrency}"},"method":{"type":"string","example":"GET"}}}}},"conversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"1.41"},"effectiveDateTime":{"type":"string","description":"The start date and time when this FX rate becomes active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"inverseConversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"0.709"},"lastEffectiveDateTime":{"type":"string","description":"The finish date and time when this FX rate no longer is valid or active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"maxconversionValue":{"type":"number","format":"float","example":"5000"},"minconversionValue":{"type":"number","format":"float","example":"5"},"sourceCurrency":{"type":"string","format":"ISO 4217","example":"JOD"},"targetCurrency":{"type":"string","format":"ISO 4217","example":"USD"}}}
                            example: '{"sourceCurrency":"JOD","targetCurrency":"USD","conversionValue":1.41,"inverseConversionValue":0.709,"effectiveDateTime":"2006-09-15T10:30:00Z","lastEffectiveDateTime":"2006-09-15T10:30:00Z","minconversionValue":5,"maxconversionValue":5000,"_links":{"self":{"href":"/institution/FXs/{targetCurrency}","method":"GET"},"institution":{"href":"/institution/","method":"GET"}}}'
                "400": 
                    description: "400 Bad Request"
                    body: 
                        application/json: 
                            schema: '{"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.request.invalid"},"desc":{"type":"string","example":"Invalid request parameters"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"Required header x-interactions-id is missing"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.request.invalid","desc":"Invalid request parameters","errors":[{"code":"http.headers.invalid","desc":"Required header x-interactions-id is missing"}]}'
                "401": 
                    description: "401 Unauthorized"
                    body: 
                        application/json: 
                            schema: |-
                                {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.auth.invalid"},"desc":{"type":"string","example":"Invalid authentication credentials"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.header.missing"},"desc":{"type":"string","example":"Authentication header is missing. Please include the 'Authorization' header in your request."}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.invalid","desc":"Invalid authentication credentials","errors":[{"code":"http.auth.header.missing","desc":"Authentication header is missing. Please include the 'Authorization' header in your request."}]}
                "500": 
                    description: "500 Internal Service Error"
                    body: 
                        application/json: 
                            schema: '{"type":"object","properties":{"code":{"type":"string","example":"server.error"},"desc":{"type":"string","example":"An internal server error occurred"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.error.database"},"desc":{"type":"string","example":"Error accessing the database. Please contact the development support team or try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.error","desc":"An internal server error occurred","errors":[{"code":"server.error.database","desc":"Error accessing the database. Please contact the development support team or try again later"}]}'
                "403": 
                    description: "403 Forbidden"
                    body: 
                        application/json: 
                            schema: '{"type":"object","properties":{"code":{"type":"string","example":"http.auth.forbidden"},"desc":{"type":"string","example":"Insufficient privileges. Access to the requested resource is forbidden"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.role.insufficient"},"desc":{"type":"string","example":"You do not have the necessary permissions to access this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.forbidden","desc":"Insufficient privileges. Access to the requested resource is forbidden","errors":[{"code":"http.auth.role.insufficient","desc":"You do not have the necessary permissions to access this resource"}]}'
                "404": 
                    description: "404 Not Found"
                    body: 
                        application/json: 
                            schema: '{"type":"object","properties":{"code":{"type":"string","example":"resource.notFound"},"desc":{"type":"string","example":"The requested resource could not be found"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.url.invalid.endpoint"},"desc":{"type":"string","example":"The requested endpoint is not valid. Please check the url and try again"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"resource.notFound","desc":"The requested resource could not be found","errors":[{"code":"http.url.invalid.endpoint","desc":"The requested endpoint is not valid. Please check the url and try again"}]}'
                "415": 
                    description: "415 Unsupported Media Type"
                    body: 
                        application/json: 
                            schema: |-
                                {"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding"},"desc":{"type":"string","example":"The requested media encoding is not supported"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding.appXml"},"desc":{"type":"string","example":"The requested format 'application/xml' is not supported"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"media.unsupportedEncoding","desc":"The requested media encoding is not supported","errors":[{"code":"media.unsupportedEncoding.appXml","desc":"The requested format 'application/xml' is not supported"}]}
                "503": 
                    description: "503 Service Unavailable"
                    body: 
                        application/json: 
                            schema: '{"type":"object","properties":{"code":{"type":"string","example":"server.service.error"},"desc":{"type":"string","example":"The requested service is currently unavailable"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.service.maintenance"},"desc":{"type":"string","example":"The service is temporarily down for maintenance. Please try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.service.error","desc":"The requested service is currently unavailable","errors":[{"code":"server.service.maintenance","desc":"The service is temporarily down for maintenance. Please try again later"}]}'
                "405": 
                    description: "405 Method Not Allowed"
                    body: 
                        application/json: 
                            schema: '{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid"},"desc":{"type":"string","example":"The requested HTTP method is not allowed for this resource"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid.patch"},"desc":{"type":"string","example":"PATCH method is not supported for this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.method.invalid","desc":"The requested HTTP method is not allowed for this resource","errors":[{"code":"http.method.invalid.patch","desc":"PATCH method is not supported for this resource"}]}'
                "406": 
                    description: "406 Not Acceptable"
                    body: 
                        application/json: 
                            schema: '{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"The requested content cannot be served in the specified format"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.content.unsupportedFormat"},"desc":{"type":"string","example":"The requested format is not supported. Please specify a different format"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.headers.invalid\"","desc":"The requested content cannot be served in the specified format","errors":[{"code":"http.content.unsupportedFormat","desc":"The requested format is not supported. Please specify a different format"}]}
                "429": 
                    description: "429 Too Many Requests"
                    body: 
                        application/json: 
                            schema: |-
                                {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The rate limit for requests has been exceeded"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"rateLimit.exceeded","desc":"The rate limit for requests has been exceeded","errors":[{"code":"rateLimit.exceeded","desc":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}]}
            baseUriParameters: 
                targetCurrency: 
                    description: The currency code to covert to. The returned rate will be the conversion from the "sourceCurrency" header to this "targetCurrency" path variable
                    type: string
                    required: true
                    repeat: false
    /quote: 
        displayName: /institution/FXs/quote
        post: 
            description: create a quote request for a specific currency. This service acts as a quote calculator.
            headers: 
                Authorization: 
                    description: Authorization header in which the token is placed
                    type: string
                    required: true
                    repeat: false
                x-jws-signature: 
                    description: JWS Signature, refer to security reference
                    type: string
                    required: true
                    repeat: false
                x-financial-id: 
                    description: Unique id for the Financial Institution; BIC or Pseudo-BIC code of the sender
                    type: string
                    required: false
                    repeat: false
                x-interactions-id: 
                    description: Unique id for the interaction, used in all request and responses that are related
                    type: string
                    required: true
                    repeat: false
                x-idempotency-key: 
                    description: Unique id that is generated for each request and response. Used for tracking and to check for duplicate calls
                    type: string
                    required: true
                    repeat: false
            body: 
                application/json: 
                    schema: '{"required":["sourceAmount","sourceCurrency","targetCurrency"],"type":"object","properties":{"sourceAmount":{"type":"number","format":"float(4 decimals)","example":"100"},"sourceCurrency":{"type":"string","format":"ISO 4217","example":"JOD"},"targetCurrency":{"type":"string","format":"ISO 4217","example":"USD"}}}'
                    example: '{"sourceCurrency":"JOD","targetCurrency":"USD","sourceAmount":100}'
            responses: 
                "201": 
                    description: successful
                    body: 
                        application/json: 
                            schema: |-
                                {"required":["conversionValue","conversionValue","effectiveDate","effectiveDateTime","sourceCurrency","targetCurrency"],"type":"object","properties":{"conversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"1.41"},"effectiveDateTime":{"type":"string","description":"The start date and time when this FX rate becomes active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"fee":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","format":"float(4 decimals)","example":"25.001"},"currency":{"type":"string","format":"ISO 4217","example":"JOD"}}},"inverseConversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"0.709"},"lastEffectiveDateTime":{"type":"string","description":"The finish date and time when this FX rate no longer is valid or active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"quoteId":{"type":"string","example":"str123"},"sourceAmount":{"type":"number","format":"float(4 decimals)","example":"100"},"sourceCurrency":{"type":"string","format":"ISO 4217","example":"JOD"},"targetAmount":{"type":"number","format":"float(4 decimals)","example":"141"},"targetCurrency":{"type":"string","format":"ISO 4217","example":"USD"}}}
                            example: '{"quoteId":"str123","sourceCurrency":"JOD","targetCurrency":"USD","conversionValue":1.41,"inverseConversionValue":0.709,"sourceAmount":100,"targetAmount":141,"fee":{"amount":25.001,"currency":"JOD"},"effectiveDateTime":"2006-09-15T10:30:00Z","lastEffectiveDateTime":"2006-09-15T10:30:00Z"}'
                "400": 
                    description: "400 Bad Request"
                    body: 
                        application/json: 
                            schema: '{"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.request.invalid"},"desc":{"type":"string","example":"Invalid request parameters"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"Required header x-interactions-id is missing"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.request.invalid","desc":"Invalid request parameters","errors":[{"code":"http.headers.invalid","desc":"Required header x-interactions-id is missing"}]}'
                "401": 
                    description: "401 Unauthorized"
                    body: 
                        application/json: 
                            schema: |-
                                {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.auth.invalid"},"desc":{"type":"string","example":"Invalid authentication credentials"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.header.missing"},"desc":{"type":"string","example":"Authentication header is missing. Please include the 'Authorization' header in your request."}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.invalid","desc":"Invalid authentication credentials","errors":[{"code":"http.auth.header.missing","desc":"Authentication header is missing. Please include the 'Authorization' header in your request."}]}
                "500": 
                    description: "500 Internal Service Error"
                    body: 
                        application/json: 
                            schema: '{"type":"object","properties":{"code":{"type":"string","example":"server.error"},"desc":{"type":"string","example":"An internal server error occurred"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.error.database"},"desc":{"type":"string","example":"Error accessing the database. Please contact the development support team or try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.error","desc":"An internal server error occurred","errors":[{"code":"server.error.database","desc":"Error accessing the database. Please contact the development support team or try again later"}]}'
                "403": 
                    description: "403 Forbidden"
                    body: 
                        application/json: 
                            schema: '{"type":"object","properties":{"code":{"type":"string","example":"http.auth.forbidden"},"desc":{"type":"string","example":"Insufficient privileges. Access to the requested resource is forbidden"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.role.insufficient"},"desc":{"type":"string","example":"You do not have the necessary permissions to access this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.forbidden","desc":"Insufficient privileges. Access to the requested resource is forbidden","errors":[{"code":"http.auth.role.insufficient","desc":"You do not have the necessary permissions to access this resource"}]}'
                "404": 
                    description: "404 Not Found"
                    body: 
                        application/json: 
                            schema: '{"type":"object","properties":{"code":{"type":"string","example":"resource.notFound"},"desc":{"type":"string","example":"The requested resource could not be found"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.url.invalid.endpoint"},"desc":{"type":"string","example":"The requested endpoint is not valid. Please check the url and try again"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"resource.notFound","desc":"The requested resource could not be found","errors":[{"code":"http.url.invalid.endpoint","desc":"The requested endpoint is not valid. Please check the url and try again"}]}'
                "415": 
                    description: "415 Unsupported Media Type"
                    body: 
                        application/json: 
                            schema: |-
                                {"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding"},"desc":{"type":"string","example":"The requested media encoding is not supported"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding.appXml"},"desc":{"type":"string","example":"The requested format 'application/xml' is not supported"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"media.unsupportedEncoding","desc":"The requested media encoding is not supported","errors":[{"code":"media.unsupportedEncoding.appXml","desc":"The requested format 'application/xml' is not supported"}]}
                "503": 
                    description: "503 Service Unavailable"
                    body: 
                        application/json: 
                            schema: '{"type":"object","properties":{"code":{"type":"string","example":"server.service.error"},"desc":{"type":"string","example":"The requested service is currently unavailable"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.service.maintenance"},"desc":{"type":"string","example":"The service is temporarily down for maintenance. Please try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.service.error","desc":"The requested service is currently unavailable","errors":[{"code":"server.service.maintenance","desc":"The service is temporarily down for maintenance. Please try again later"}]}'
                "405": 
                    description: "405 Method Not Allowed"
                    body: 
                        application/json: 
                            schema: '{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid"},"desc":{"type":"string","example":"The requested HTTP method is not allowed for this resource"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid.patch"},"desc":{"type":"string","example":"PATCH method is not supported for this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.method.invalid","desc":"The requested HTTP method is not allowed for this resource","errors":[{"code":"http.method.invalid.patch","desc":"PATCH method is not supported for this resource"}]}'
                "406": 
                    description: "406 Not Acceptable"
                    body: 
                        application/json: 
                            schema: '{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"The requested content cannot be served in the specified format"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.content.unsupportedFormat"},"desc":{"type":"string","example":"The requested format is not supported. Please specify a different format"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.headers.invalid\"","desc":"The requested content cannot be served in the specified format","errors":[{"code":"http.content.unsupportedFormat","desc":"The requested format is not supported. Please specify a different format"}]}
                "429": 
                    description: "429 Too Many Requests"
                    body: 
                        application/json: 
                            schema: |-
                                {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The rate limit for requests has been exceeded"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
                            example: |-
                                {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"rateLimit.exceeded","desc":"The rate limit for requests has been exceeded","errors":[{"code":"rateLimit.exceeded","desc":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}]}
        /{quoteId}: 
            displayName: /institution/FXs/quote/{quoteId}
            get: 
                description: retrieve an FX quote by quoteId.
                headers: 
                    Authorization: 
                        description: Authorization header in which the token is placed
                        type: string
                        required: true
                        repeat: false
                    x-jws-signature: 
                        description: JWS Signature, refer to security reference
                        type: string
                        required: true
                        repeat: false
                    x-financial-id: 
                        description: Unique id for the Financial Institution; BIC or Pseudo-BIC code of the sender
                        type: string
                        required: false
                        repeat: false
                    x-interactions-id: 
                        description: Unique id for the interaction, used in all request and responses that are related
                        type: string
                        required: true
                        repeat: false
                    x-idempotency-key: 
                        description: Unique id that is generated for each request and response. Used for tracking and to check for duplicate calls
                        type: string
                        required: true
                        repeat: false
                responses: 
                    "200": 
                        description: successful
                        body: 
                            application/json: 
                                schema: |-
                                    {"required":["conversionValue","conversionValue","effectiveDate","effectiveDateTime","sourceCurrency","targetCurrency"],"type":"object","properties":{"conversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"1.41"},"effectiveDateTime":{"type":"string","description":"The start date and time when this FX rate becomes active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"fee":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","format":"float(4 decimals)","example":"25.001"},"currency":{"type":"string","format":"ISO 4217","example":"JOD"}}},"inverseConversionValue":{"type":"number","description":"The rate of converting the amount from the \"sourceCurrency\" to \"targetCurrency\"","format":"float","example":"0.709"},"lastEffectiveDateTime":{"type":"string","description":"The finish date and time when this FX rate no longer is valid or active","format":"date-time(YYYY-MM-DDTHH:mm:ssZ)","example":"2006-09-15T10:30:00Z"},"quoteId":{"type":"string","example":"str123"},"sourceAmount":{"type":"number","format":"float(4 decimals)","example":"100"},"sourceCurrency":{"type":"number","format":"float(4 decimals)","example":"100"},"targetAmount":{"type":"number","format":"float(4 decimals)","example":"141"},"targetCurrency":{"type":"number","format":"float(4 decimals)","example":"141"}}}
                                example: '{"quoteId":"str123","sourceCurrency":"JOD","targetCurrency":"USD","conversionValue":1.41,"inverseConversionValue":0.709,"sourceAmount":100,"targetAmount":141,"fee":{"amount":25.001,"currency":"JOD"},"effectiveDateTime":"2006-09-15T10:30:00Z","lastEffectiveDateTime":"2006-09-15T10:30:00Z"}'
                    "400": 
                        description: "400 Bad Request"
                        body: 
                            application/json: 
                                schema: '{"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.request.invalid"},"desc":{"type":"string","example":"Invalid request parameters"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"Required header x-interactions-id is missing"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                                example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.request.invalid","desc":"Invalid request parameters","errors":[{"code":"http.headers.invalid","desc":"Required header x-interactions-id is missing"}]}'
                    "401": 
                        description: "401 Unauthorized"
                        body: 
                            application/json: 
                                schema: |-
                                    {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"http.auth.invalid"},"desc":{"type":"string","example":"Invalid authentication credentials"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.header.missing"},"desc":{"type":"string","example":"Authentication header is missing. Please include the 'Authorization' header in your request."}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
                                example: |-
                                    {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.invalid","desc":"Invalid authentication credentials","errors":[{"code":"http.auth.header.missing","desc":"Authentication header is missing. Please include the 'Authorization' header in your request."}]}
                    "500": 
                        description: "500 Internal Service Error"
                        body: 
                            application/json: 
                                schema: '{"type":"object","properties":{"code":{"type":"string","example":"server.error"},"desc":{"type":"string","example":"An internal server error occurred"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.error.database"},"desc":{"type":"string","example":"Error accessing the database. Please contact the development support team or try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                                example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.error","desc":"An internal server error occurred","errors":[{"code":"server.error.database","desc":"Error accessing the database. Please contact the development support team or try again later"}]}'
                    "403": 
                        description: "403 Forbidden"
                        body: 
                            application/json: 
                                schema: '{"type":"object","properties":{"code":{"type":"string","example":"http.auth.forbidden"},"desc":{"type":"string","example":"Insufficient privileges. Access to the requested resource is forbidden"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.auth.role.insufficient"},"desc":{"type":"string","example":"You do not have the necessary permissions to access this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                                example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.auth.forbidden","desc":"Insufficient privileges. Access to the requested resource is forbidden","errors":[{"code":"http.auth.role.insufficient","desc":"You do not have the necessary permissions to access this resource"}]}'
                    "404": 
                        description: "404 Not Found"
                        body: 
                            application/json: 
                                schema: '{"type":"object","properties":{"code":{"type":"string","example":"resource.notFound"},"desc":{"type":"string","example":"The requested resource could not be found"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.url.invalid.endpoint"},"desc":{"type":"string","example":"The requested endpoint is not valid. Please check the url and try again"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                                example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"resource.notFound","desc":"The requested resource could not be found","errors":[{"code":"http.url.invalid.endpoint","desc":"The requested endpoint is not valid. Please check the url and try again"}]}'
                    "415": 
                        description: "415 Unsupported Media Type"
                        body: 
                            application/json: 
                                schema: |-
                                    {"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding"},"desc":{"type":"string","example":"The requested media encoding is not supported"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"media.unsupportedEncoding.appXml"},"desc":{"type":"string","example":"The requested format 'application/xml' is not supported"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
                                example: |-
                                    {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"media.unsupportedEncoding","desc":"The requested media encoding is not supported","errors":[{"code":"media.unsupportedEncoding.appXml","desc":"The requested format 'application/xml' is not supported"}]}
                    "503": 
                        description: "503 Service Unavailable"
                        body: 
                            application/json: 
                                schema: '{"type":"object","properties":{"code":{"type":"string","example":"server.service.error"},"desc":{"type":"string","example":"The requested service is currently unavailable"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"server.service.maintenance"},"desc":{"type":"string","example":"The service is temporarily down for maintenance. Please try again later"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                                example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"server.service.error","desc":"The requested service is currently unavailable","errors":[{"code":"server.service.maintenance","desc":"The service is temporarily down for maintenance. Please try again later"}]}'
                    "405": 
                        description: "405 Method Not Allowed"
                        body: 
                            application/json: 
                                schema: '{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid"},"desc":{"type":"string","example":"The requested HTTP method is not allowed for this resource"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.method.invalid.patch"},"desc":{"type":"string","example":"PATCH method is not supported for this resource"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                                example: '{"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.method.invalid","desc":"The requested HTTP method is not allowed for this resource","errors":[{"code":"http.method.invalid.patch","desc":"PATCH method is not supported for this resource"}]}'
                    "406": 
                        description: "406 Not Acceptable"
                        body: 
                            application/json: 
                                schema: '{"type":"object","properties":{"code":{"type":"string","example":"http.headers.invalid"},"desc":{"type":"string","example":"The requested content cannot be served in the specified format"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"http.content.unsupportedFormat"},"desc":{"type":"string","example":"The requested format is not supported. Please specify a different format"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}'
                                example: |-
                                    {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"http.headers.invalid\"","desc":"The requested content cannot be served in the specified format","errors":[{"code":"http.content.unsupportedFormat","desc":"The requested format is not supported. Please specify a different format"}]}
                    "429": 
                        description: "429 Too Many Requests"
                        body: 
                            application/json: 
                                schema: |-
                                    {"required":["code","desc","id"],"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The rate limit for requests has been exceeded"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"rateLimit.exceeded"},"desc":{"type":"string","example":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}}}},"id":{"type":"string","format":"UUIDv4","example":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f"}}}
                                example: |-
                                    {"id":"2c8579d1-8ccb-49c1-b64d-ed2a5b357c8f","code":"rateLimit.exceeded","desc":"The rate limit for requests has been exceeded","errors":[{"code":"rateLimit.exceeded","desc":"The maximum number of requests '500/min' has been reached. Try again in '53 seconds'"}]}
                baseUriParameters: 
                    quoteId: 
                        description: The id of the FX quote
                        type: string
                        required: true
                        repeat: false
documentation: 
    - 
        title: API Description
        content: |
            This service is used to  obtain a list of Foreign Exchange objects and access specific currency conversion data
            
            ![JOF1](https://www.jopacc.com/sites/default/files/2023-12/jpc-internal-jof-banner.png)
            
            ---
            
            **_This is the initial draft of the Jordan Open Finance specification_**
            
            The services in this Open API specification are Direct-Call Services (DCS). These services can be accessed by direct calls to the banks or by using an aggregator central hub such as JoPACC. However, the URLs and routes for these services are designed for direct-calls only.
            
            - For the Open API specification of the aggregated services, refer to the Aggregator Services specification.
            
            Services in Jordan Open Finance Specification (JOF) are divided into 4 categories based on their content and nature of consent.
            
            # **Facilities and Products Services (FPS)**
            
            This category includes services that specifically provide data about the Financial 
            Institution's facilities and products. It does not contain any information about the 
            customers or require their consent.
            
            The Foreign Exchange resource is one of the FPS services and it is used to obtain a list of Foreign Exchange objects and access specific currency conversion data by sending requests to  
            the corresponding endpoints. Additionally, the service allows the creation of quote requests for specific currency pairs, and users can retrieve FX quotes using unique quote identifiers.
            These functionalities make it a versatile tool for managing currency conversion and obtaining real-time quotes.
            
            ### **Overview**
            
            ---
            
            **Foreign Exchange [FXs]** A foreign exchange rate service typically provides real-time and historical exchange rate data for various currencies, which will help the customer to know the rate and the fees for each institution and pick the most convenient one.
            
            #### **FXs Services List**
            
            **1. Get Fxs information**
            
            **2. Get one currency Foreign Exchange information**
            
            **3. Request an FX quote for a currency**
            
            **4. Get FX quote by id**
            
            ### **Endpoint**
            
            ---
            
            ### **GET /institution/FXs**
            
            #### **Get Foreign Exchange information:** This service allows the retrieval of a list of Foreign Exchange objects
            
            |     | Resource | Method | EndPoint         |
            | --- | -------- | ------ | ---------------- |
            | 1   | FXs      | GET    | /institution/FXs |
            
            ### **Headers**
            
            ---
            
            The table below lists the HTTP headers that can be included in requests to provide additional information or configuration.
            
            |     | HeaderName            | Required/Optional | Description                                                                                                                                                                                           |
            | --- | --------------------- | ----------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
            | 1   | Authorization         | Required          | This header typically carries credentials, such as tokens or keys, allowing the server to authenticate the client's request and determine whether it has permission to access the requested resource. |
            | 2   | x-interactions-id     | Required          | This header is not a standard HTTP header, but it is used as a unique id for the interaction, used in all requests and responses that are related                                                     |
            | 3   | x-idempotency-key     | Required          | A unique identifier used to ensure idempotent API requests, preventing duplicate actions when the same request is made multiple times.                                                                |
            | 4   | x-financial-id        | Optional          | A custom header potentially used in financial APIs to convey specific transaction or account identifiers.                                                                                             |
            | 5   | x-jws-signature       | Required          | A custom header indicating the presence of a JSON Web Signature (JWS) for verifying the authenticity and integrity of API requests.                                                                   |
            
            ### **Endpoint**
            
            ---
            
            ### **GET/institution/FXs/{targetCurrency}**
            
            **Get one currency Foreign Exchange information:** This service offers the exchange rate for a specific desired currency. By utilizing this service, users can retrieve the current exchange rate information they need for a particular currency..
            
            |     | Resource | Method | EndPoint                          |
            | --- | -------- | ------ | --------------------------------- |
            | 1   | FXs      | GET    | /institution/FXs/{targetCurrency} |
            
            ### **Parameters**
            
            ---
            
            The table below outlines the inputs or configurations required for invoking the service.
            
            |     | ParameterName  | Required/Optional | Description                                                                                                                                         |
            | --- | -------------- | ----------------- | --------------------------------------------------------------------------------------------------------------------------------------------------- |
            | 1   | targetCurrency | Required          | The currency code to covert to. The returned rate will be the conversion from the "sourceCurrency" header to this "targetCurrency" path variable    |
            | 2   | sourceCurrency | Required          | The currency code to convert from. The returned rate will be the conversion from this "sourceCurrency" header to the "targetCurrency" path variable |
            
            ### **Headers**
            
            ---
            
            The table below lists the HTTP headers that can be included in requests to provide additional information or configuration.
            
            |     | HeaderName            | Required/Optional | Description                                                                                                                                                                                           |
            | --- | --------------------- | ----------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
            | 1   | Authorization         | Required          | This header typically carries credentials, such as tokens or keys, allowing the server to authenticate the client's request and determine whether it has permission to access the requested resource. |
            | 2   | x-interactions-id     | Required          | This header is not a standard HTTP header, but it is used as a unique id for the interaction, used in all requests and responses that are related                                                     |
            | 3   | x-idempotency-key     | Required          | A unique identifier used to ensure idempotent API requests, preventing duplicate actions when the same request is made multiple times.                                                                |
            | 4   | x-financial-id        | Optional          | A custom header potentially used in financial APIs to convey specific transaction or account identifiers.                                                                                             |
            | 5   | x-jws-signature       | Required          | A custom header indicating the presence of a JSON Web Signature (JWS) for verifying the authenticity and integrity of API requests.                                                                   |
            
            ### **Endpoint**
            
            ---
            
            ### **POST/institution/FXs/quote**
            
            **Create quote request for one currency's Foreign Exchange:** This service creates a quote request for a specific currency. This service acts as a quote calculator.
            
            |     | Resource | Method | EndPoint               |
            | --- | -------- | ------ | ---------------------- |
            | 1   | FXs      | POST   | /institution/FXs/quote|
            
            ### **Headers**
            
            ---
            
            The table below lists the HTTP headers that can be included in requests to provide additional information or configuration.
            
            |     | HeaderName            | Required/Optional | Description                                                                                                                                                                                           |
            | --- | --------------------- | ----------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
            | 1   | Authorization         | Required          | This header typically carries credentials, such as tokens or keys, allowing the server to authenticate the client's request and determine whether it has permission to access the requested resource. |
            | 2   | x-interactions-id     | Required          | This header is not a standard HTTP header, but it is used as a unique id for the interaction, used in all requests and responses that are related                                                     |
            | 3   | x-idempotency-key     | Required          | A unique identifier used to ensure idempotent API requests, preventing duplicate actions when the same request is made multiple times.                                                                |
            | 4   | x-financial-id        | Optional          | A custom header potentially used in financial APIs to convey specific transaction or account identifiers.                                                                                             |
            | 5   | x-jws-signature       | Required          | A custom header indicating the presence of a JSON Web Signature (JWS) for verifying the authenticity and integrity of API requests.    |
            
            ### **Endpoint**
            
            
            ---
            
            ### **GET/institution/FXs/quote/quoteId**
            
            **Get foreign exchange quote by id:** This service retrieves an FX quote using quote Identifier
            
            |     | Resource | Method | EndPoint                         |
            | --- | -------- | ------ | -------------------------------- |
            | 1   | FXs      | GET    | /institution/FXs/quote/{quoteId} |
            
            ### **Parameters**
            
            ---
            
            The table below outlines the inputs or configurations required for invoking the service.
            
            |     | ParameterName | Required/Optional | Description            |
            | --- | ------------- | ----------------- | ---------------------- |
            | 1   | quoteId       | Required          | The id of the FX quote |
            
            ### **Headers**
            
            ---
            
            The table below lists the HTTP headers that can be included in requests to provide additional information or configuration.
            
            |     | HeaderName            | Required/Optional | Description                                                                                                                                                                                           |
            | --- | --------------------- | ----------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
            | 1   | Authorization         | Required          | This header typically carries credentials, such as tokens or keys, allowing the server to authenticate the client's request and determine whether it has permission to access the requested resource. |
            | 2   | x-interactions-id     | Required          | This header is not a standard HTTP header, but it is used as a unique id for the interaction, used in all requests and responses that are related                                                     |
            | 3   | x-idempotency-key     | Required          | A unique identifier used to ensure idempotent API requests, preventing duplicate actions when the same request is made multiple times.                                                                |
            | 4   | x-financial-id        | Optional          | A custom header potentially used in financial APIs to convey specific transaction or account identifiers.                                                                                             |
            | 5   | x-jws-signature       | Required          | A custom header indicating the presence of a JSON Web Signature (JWS) for verifying the authenticity and integrity of API requests.                                                                   |
            
            ## **UML Diagrams**
            
            ---
            ### **All GET Services UML Diagrams**
            
            ![JOF1](https://www.jopacc.com/sites/default/files/2024-05/fxs_wvg7xx.png)
            
            ### **POST Service - Request Body UML Diagram**
            
            
            ![JOF1](https://www.jopacc.com/sites/default/files/2024-05/fxs_-_request_djnawk.png)
            
            ### **POST Service - Response Body UML Diagram**
            
            
            ![JOF1](https://www.jopacc.com/sites/default/files/2024-05/fxs_-_response_ocqnbq.png)
            
            ### **Data Dictionary**
            
            ---
            #### **ALL GET services data dictionary**
            
            The table below represents the API service response fields and serves as a comprehensive reference detailing the meaning, format, and usage of each field, ensuring a consistent understanding of the service.
            
            | #   | Name                   | Data Type           | JSON Path                     | Description                                                               |
            | --- | ---------------------- | ------------------  | ----------------------------- | ------------------------------------------------------------------------- |
            | 1   | getFXs                 | N/A                 | N/A                           | Method to retrieve a list of Foreign Exchange                             |
            | 2   | data                   | array               | data                          | Contains an array of the Foreign Exchange                                 |
            | 3   | FXs                    | N/A                 | data[]                        | Accessing the FXs object                                                  |
            | 4   | sourceCurrency         | enum                | data[].sourceCurrency         | Source currency code to retrieve a list of Foreign Exchange               |
            |     |                        |                     | sourceCurrency                | Source currency code to retrieve a specific currency's conversion data    |
            |     |                        |                     | sourceCurrency                | Source currency code to retrieve an FX quote by quoteId.                  |
            | 5   | targetCurrency         | enum                | data[].targetCurrency         | target currency code to retrieve a list of Foreign Exchange               |
            |     |                        |                     | targetCurrency                | target currency code to retrieve a specific currency's conversion data    |                        
            |     |                        |                     | targetCurrency                | target currency code to retrieve an FX quote by quoteId.                  |                        
            | 6   | conversionValue        | Number              | data[].conversionValue        | conversion value to retrieve a list of Foreign Exchange                   |
            |     |                        |                     | targetCurrency                | conversion value to retrieve a specific currency's conversion data        |                        
            |     |                        |                     | targetCurrency                | conversion value to retrieve an FX quote by quoteId.                      |                        
            | 7   | inverseConversionValue | Number              | data[].inverseConversionValue | Inverse conversion value to retrieve a list of Foreign Exchange           |
            |     |                        |                     | inverseConversionValue        | Inverse conversion value to retrieve a specific currency's conversion data|                        
            |     |                        |                     | inverseConversionValue        | Inverse conversion value to retrieve an FX quote by quoteId.              |    
            | 8   | effectiveDateTime      | string              | data[].effectiveDateTime      | Effective date and time to retrieve a list of Foreign Exchange            |                                
            |     |                        |                     | effectiveDateTime             | Effective Date Time to retrieve a specific currency's conversion data     |                        
            |     |                        |                     | effectiveDateTime             | Effective Date Time to retrieve an FX quote by quoteId.                   |                        
            | 9   | lastEffectiveDateTime  | string              | data[].lastEffectiveDateTime  | Last effective date and time to retrieve a list of Foreign Exchange       |                                       
            |     |                        |                     | effectiveDateTime             | Last effective Date Time to retrieve a specific currency's conversion data|                        
            |     |                        |                     | effectiveDateTime             | Last effective Date Time to retrieve an FX quote by quoteId.              |  
            | 10  | minconversionValue     | Number              | data[].minconversionValue     | Minimum conversion value to retrieve a list of Foreign Exchange           |
            |     |                        |                     | minconversionValue            | Minimum conversion value to retrieve a specific currency's conversion data|                        
            |     |                        |                     | minconversionValue            | Minimum conversion value to retrieve an FX quote by quoteId.              | 
            | 11  | maxconversionValue     | Number              | data[].maxconversionValue     | Maximum conversion value to retrieve a list of Foreign Exchange           |
            |     |                        |                     | maxconversionValue            | Maximum conversion value to retrieve a specific currency's conversion data|                        
            |     |                        |                     | maxconversionValue            | Maximum conversion value to retrieve an FX quote by quoteId.              | 
            | 12  | quoteId                | string    	     | quoteId                       | Unique identifier for the quote in get quote by quotedId                  |
            | 13  | targetAmount           | Number		     | targetAmount                  | Amount in the target currency in the get a quote by quotedId              |
            | 14  | sourceAmount           | Number		     | targetAmount                  | Amount in the source currency in the get a quote by quotedId              |
            | 15  | fee                    | object(complex type)| fee                           | Fee amount and currency in the get a quote by quotedId                    |
            | 16  | \_links                | object              | data[].\_links                | Contains Hyperlinks to related resources                                  |
            | 17  | self                   | object(complex type)| data[].\_links.self           | Self-reference link                                                       |
            | 18  | institution            | object(complex type)| data[].\_links.institution    | Link to institution details                                               |
[...]
